<div class="card-block">
  <ul class="timeline">
    <li>
      <div class="timeline-badge warning"><i class="fa fa-graduation-cap"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h5 class="timeline-title">ENSINO FUNDAMENTAL</h5>
        </div>
        <div class="timeline-body">
          <p>Descrição .....</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h6 class="timeline-title">Anos Iniciais</h6>
        </div>
        <div class="timeline-body">
          <p>Taxa de Aprovação</p>
          <div class="col col-sm-6">
            <div class="card mb-3">
              <div class="card-header">
                Line Chart
              </div>
              <div class="card-block">
                <canvas baseChart height="130"></canvas>
                <!--<canvas baseChart height="130"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h6 class="timeline-title">Taxa de Aprovação</h6>
        </div>
        <!--<div class="timeline-body">-->
          <div class="col col-sm-6">
            <div class="card mb-3">
              <div class="card-header">
                Line Chart
              </div>
              <div class="card-block">
                <canvas baseChart height="130"></canvas>
                <!--<canvas baseChart height="130"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>-->
              </div>
            </div>
          </div>
        <!--</div>-->
      </div>
    </li>
    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h6 class="timeline-title">Anos Finais</h6>
        </div>
        <div class="timeline-body">
          <p>3</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h5 class="timeline-title">ENSINO MÉDIO</h5>
        </div>
        <div class="timeline-body">
          <p>Descrição</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h6 class="timeline-title">Taxas</h6>
        </div>
        <div class="timeline-body">
          <p>3</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h6 class="timeline-title">ENEM</h6>
        </div>
        <div class="timeline-body">
          <p>3</p>
        </div>
      </div>
    </li>
  </ul>
</div>
