<div class="card-block">
  <ul class="timeline">
    <li>
      <div class="timeline-badge warning"><i class="fa fa-graduation-cap"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h5 class="timeline-title">ENSINO FUNDAMENTAL</h5>
        </div>
        <div class="timeline-body">
          <p>Descrição .....</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge-h2 info"><span class="font-thin text-md">AI</span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h6 class="timeline-title">Anos Iniciais</h6>
        </div>
        <div class="timeline-body">
          <div class="md-list md-whiteframe-z0 bg-white m-b">
            <!--TA_EF_AI -->
            <button class="md-list-item-button md-list-item"
                    data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <div class="md-list-item-left circle green">
                <!--<i class="fa fa-area-chart "></i>-->
                <span class="font-thin text-md">TA</span>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">Taxa de Aprovação</h3>
                <p class="font-thin">Anos iniciais (até 4º série / 5º ano)</p>
              </div>
            </button>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <canvas baseChart #baseChart="base-chart" height="130" [datasets]="lineChartData_TA_EF_AI" [labels]="lineChartLabels_TA_EF_AI"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>

            <!--NPBM_EF_AI -->
            <button class="md-list-item-button md-list-item"
                    data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
              <div class="md-list-item-left circle indigo">
                <span class="font-thin text-md">M</span>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">Nota Prova Brasil - Matemática</h3>
                <p class="font-thin">Anos iniciais (até 4º série / 5º ano)</p>
              </div>
            </button>
            <div class="collapse" id="collapseExample2">
              <div class="card card-body">
                <canvas baseChart #baseChart_NPBM_EF_AI="base-chart" height="130" [datasets]="lineChartData_NPBM_EF_AI" [labels]="lineChartLabels_NPBM_EF_AI"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>

            <!--NPBLP_EF_AI -->
            <button class="md-list-item-button md-list-item"
                    data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
              <div class="md-list-item-left circle pink">
                <span class="font-thin text-md">LP</span>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">Nota Prova Brasil - Lingua Portuguesa</h3>
                <p class="font-thin">Anos iniciais (até 4º série / 5º ano)</p>
              </div>
            </button>
            <div class="collapse" id="collapseExample3">
              <div class="card card-body">
                <canvas baseChart #baseChart_NPBLP_EF_AI="base-chart" height="130" [datasets]="lineChartData_NPBLP_EF_AI" [labels]="lineChartLabels_NPBLP_EF_AI"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>

            <!--NPBrasNotaPad_AI -->
            <button class="md-list-item-button md-list-item"
                    data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
              <div class="md-list-item-left circle teal">
                <span class="font-thin text-md">NM</span>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">Nota Prova Brasil - Nota Média</h3>
                <p class="font-thin">Anos iniciais (até 4º série / 5º ano)</p>
              </div>
            </button>
            <div class="collapse" id="collapseExample4">
              <div class="card card-body">
                <canvas baseChart #baseChart_NPBrasNotaPad_AI="base-chart" height="130" [datasets]="lineChartData_NPBrasNotaPad_AI" [labels]="lineChartLabels_NPBrasNotaPad_AI"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>

            <!--IDEB_AI -->
            <button class="md-list-item-button md-list-item"
                    data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
              <div class="md-list-item-left circle deep-orange">
                <span class="font-thin text-md">I</span>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">IDEB</h3>
                <p class="font-thin">Anos iniciais (até 4º série / 5º ano)</p>
              </div>
            </button>
            <div class="collapse" id="collapseExample5">
              <div class="card card-body">
                <canvas baseChart #baseChart_IDEB_AI="base-chart" height="130" [datasets]="lineChartData_IDEB_AI" [labels]="lineChartLabels_IDEB_AI"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge-h2 primary"><span class="font-thin text-md">AF</span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h6 class="timeline-title">Anos Finais</h6>
        </div>
        <div class="timeline-body">
          <div class="md-list md-whiteframe-z0 bg-white m-b">
            <!-- TA_EF_AF-->
            <button class="md-list-item-button md-list-item"
                    data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample6">
              <div class="md-list-item-left circle green">
                <span class="font-thin text-md">TA</span>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">Taxa de Aprovação</h3>
                <p class="font-thin">Anos finais (até 8º série / 9º ano)</p>
              </div>
            </button>
            <div class="collapse" id="collapseExample6">
              <div class="card card-body">
                <canvas baseChart #baseChart_TA_EF_AF="base-chart" height="130" [datasets]="lineChartData_TA_EF_AF" [labels]="lineChartLabels_TA_EF_AF"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>

            <!--NPBM_EF_AF -->
            <button class="md-list-item-button md-list-item"
                    data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample7">
              <div class="md-list-item-left circle indigo">
                <span class="font-thin text-md">M</span>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">Nota Prova Brasil - Matemática</h3>
                <p class="font-thin">Anos finais (até 8º série / 9º ano)</p>
              </div>
            </button>
            <div class="collapse" id="collapseExample7">
              <div class="card card-body">
                <canvas baseChart #baseChart_NPBM_EF_AF="base-chart" height="130" [datasets]="lineChartData_NPBM_EF_AF" [labels]="lineChartLabels_NPBM_EF_AF"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>

            <!--NPBLP_EF_AF -->
            <button class="md-list-item-button md-list-item"
                    data-toggle="collapse" data-target="#collapseExample8" aria-expanded="false" aria-controls="collapseExample8">
              <div class="md-list-item-left circle pink">
                <span class="font-thin text-md">LP</span>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">Nota Prova Brasil - Lingua Portuguesa</h3>
                <p class="font-thin">Anos finais (até 8º série / 9º ano)</p>
              </div>
            </button>
            <div class="collapse" id="collapseExample8">
              <div class="card card-body">
                <canvas baseChart #baseChart_NPBLP_EF_AF="base-chart" height="130" [datasets]="lineChartData_NPBLP_EF_AF" [labels]="lineChartLabels_NPBLP_EF_AF"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>

            <!--NPBrasNotaPad_AF -->
            <button class="md-list-item-button md-list-item"
                    data-toggle="collapse" data-target="#collapseExample9" aria-expanded="false" aria-controls="collapseExample9">
              <div class="md-list-item-left circle teal">
                <span class="font-thin text-md">NM</span>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">Nota Prova Brasil - Nota Média</h3>
                <p class="font-thin">Anos finais (até 8º série / 9º ano)</p>
              </div>
            </button>
            <div class="collapse" id="collapseExample9">
              <div class="card card-body">
                <canvas baseChart #baseChart_NPBrasNotaPad_AF="base-chart" height="130" [datasets]="lineChartData_NPBrasNotaPad_AF" [labels]="lineChartLabels_NPBrasNotaPad_AF"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>

            <!--IDEB_AF -->
            <button class="md-list-item-button md-list-item"
                    data-toggle="collapse" data-target="#collapseExample10" aria-expanded="false" aria-controls="collapseExample10">
              <div class="md-list-item-left circle deep-orange">
                <span class="font-thin text-md">I</span>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">IDEB</h3>
                <p class="font-thin">Anos finais (até 8º série / 9º ano)</p>
              </div>
            </button>
            <div class="collapse" id="collapseExample10">
              <div class="card card-body">
                <canvas baseChart #baseChart_IDEB_AF="base-chart" height="130" [datasets]="lineChartData_IDEB_AF" [labels]="lineChartLabels_IDEB_AF"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h5 class="timeline-title">ENSINO MÉDIO</h5>
        </div>
        <div class="timeline-body">

        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h6 class="timeline-title">Taxas</h6>
        </div>
        <div class="timeline-body">
          <div class="md-list md-whiteframe-z0 bg-white m-b">
            <!--TxAprov_3EM -->
            <button class="md-list-item-button md-list-item"
                    data-toggle="collapse" data-target="#collapseExample11" aria-expanded="false" aria-controls="collapseExample11">
              <div class="md-list-item-left circle green">
                <!--<i class="fa fa-area-chart "></i>-->
                <span class="font-thin text-md">TAp</span>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">Taxa de Aprovação na 3ª série do Ensino Médio</h3>
                <p class="font-thin">3ª série do Ensino Médio</p>
              </div>
            </button>
            <div class="collapse" id="collapseExample11">
              <div class="card card-body">
                <canvas baseChart #baseChart_TxAprov_3EM="base-chart" height="130" [datasets]="lineChartData_TxAprov_3EM" [labels]="lineChartLabels_TxAprov_3EM"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>

            <!--TxAband_1EM -->
            <button class="md-list-item-button md-list-item"
                    data-toggle="collapse" data-target="#collapseExample12" aria-expanded="false" aria-controls="collapseExample12">
              <div class="md-list-item-left circle indigo">
                <span class="font-thin text-md">TAb</span>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">Taxa de Abandono na 1ª série - Médio do Ensino Médio</h3>
                <p class="font-thin">1ª série do Ensino Médio</p>
              </div>
            </button>
            <div class="collapse" id="collapseExample12">
              <div class="card card-body">
                <canvas baseChart #baseChart_TxAband_1EM="base-chart" height="130" [datasets]="lineChartData_TxAband_1EM" [labels]="lineChartLabels_TxAband_1EM"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>

            <!--TxDIS_3EM -->
            <button class="md-list-item-button md-list-item"
                    data-toggle="collapse" data-target="#collapseExample13" aria-expanded="false" aria-controls="collapseExample13">
              <div class="md-list-item-left circle pink">
                <span class="font-thin text-md">LP</span>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">Taxa de Distorção Idade-Série na 3ª série do Ensino Médio</h3>
                <p class="font-thin">3ª série do Ensino Médio</p>
              </div>
            </button>
            <div class="collapse" id="collapseExample13">
              <div class="card card-body">
                <canvas baseChart #baseChart_TxDIS_3EM="base-chart" height="130" [datasets]="lineChartData_TxDIS_3EM" [labels]="lineChartLabels_TxDIS_3EM"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h6 class="timeline-title">ENEM</h6>
        </div>
        <div class="timeline-body">
          <div class="md-list md-whiteframe-z0 bg-white m-b">
            <!--ENEM -->
            <button class="md-list-item-button md-list-item"
                    data-toggle="collapse" data-target="#collapseExample14" aria-expanded="false" aria-controls="collapseExample14">
              <div class="md-list-item-left circle green">
                <span class="font-thin text-md">2013</span>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">2013</h3>
                <p class="font-thin">Média</p>
              </div>
            </button>
            <div class="collapse" id="collapseExample14">
              <div class="card card-body">
                <canvas baseChart #baseChart_ENEM="base-chart" height="130" [datasets]="barChartData_ENEM" [labels]="barChartLabels_ENEM"
                        [options]="barChartOptions" [legend]="barChartLegend"
                        [chartType]="barChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
