<nav class="sidebar-indicators-by-weighting-areas" >
  <div role="region" class="widget-pane-content-holder">
    <div tabindex="-1" class="section-listbox section-listbox-root">
      <div class="section-hero-header">
        <div class="widget-pane-clear" style='display:none'></div>
        <!-- button to display/hide the school details -->
        <!--<button class="section-hero-header-display-hide" (click)="toggleSchoolDetails()">
          <div class="section-hero-header-display-hide-base" style="padding: 18px">
            <i class="fa fa-arrow-left section-hero-header-display-hide-icon"></i>
          </div>
        </button>-->
        <div class="section-hero-header-description">
          <div>
            <h1 class="section-hero-header-title" id="no-entidad">{{PANELNAME}}</h1>
          </div>
          <div class="section-hero-header-subtitle"></div>
        </div>
      </div>

      <div class="section-divider" style="height: 20px"></div>
      <div class="section-info">
        <div>
          <div class="section-info-line">
            <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-2x fa-home"></span>
            <span class="section-info-text">
              <span>{{CODAP}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="section-divider" style="height: 7px"></div>

    </div>

  </div>
</nav>


