.sidebar-indicators-by-weighting-areas {
  border-radius: 0;
  position: fixed;
  z-index: 500;
  top: 57px;
  right: 0px; /*408px to display it*/
  width: 360px; /*408*/
  margin-right: -360px; /*408*/
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: rgba(255,255,255,1);/* #ffffff;*/
  font-size: 11px;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar-indicators-by-weighting-areas .list-group a.list-group-item {
  background: #ffffff;
  border: 0;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}
.sidebar-indicators-by-weighting-areas .list-group a.list-group-item .fa {
  margin-right: 10px;
}
.sidebar-indicators-by-weighting-areas .list-group a:hover {
  background: #151515; /*nc*/
  color: rgba(0, 0, 0, 0.87);
}
.sidebar-indicators-by-weighting-areas .list-group a.router-link-active {
  background: #151515; /*nc*/
  color: rgba(0, 0, 0, 0.87);
}
.sidebar-indicators-by-weighting-areas .sidebar-dropdown *:focus {
  border-radius: none;
  border: none;
}
.sidebar-indicators-by-weighting-areas .sidebar-dropdown .panel-title {
  font-size: 1rem;
  height: 50px;
  margin-bottom: 0;
}
.sidebar-indicators-by-weighting-areas .sidebar-dropdown .panel-title a {
  color: #999; /*nc*/
  text-decoration: none;
  font-weight: 400;
  background: #222; /*nc*/
}
.sidebar-indicators-by-weighting-areas .sidebar-dropdown .panel-title a span {
  position: relative;
  display: block;
  padding: 0.75rem 1.5rem;
  padding-top: 1rem;
}
.sidebar-indicators-by-weighting-areas .sidebar-dropdown .panel-title a:hover, .sidebar .sidebar-dropdown .panel-title a:focus {
  color: rgba(0, 0, 0, 0.87);
  outline: none;
  outline-offset: -2px;
}
.sidebar-indicators-by-weighting-areas .sidebar-dropdown .panel-title:hover {
  background: #151515; /*nc*/
}
.sidebar-indicators-by-weighting-areas .sidebar-dropdown .panel-collapse {
  border-radious: 0;
  border: none;
}
.sidebar-indicators-by-weighting-areas .sidebar-dropdown .panel-collapse .panel-body .list-group-item {
  border-radius: 0;
  background-color: #222; /*nc*/
  border: 0 solid transparent;
}
.sidebar-indicators-by-weighting-areas .sidebar-dropdown .panel-collapse .panel-body .list-group-item a {
  color: #999; /*nc*/
}
.sidebar-indicators-by-weighting-areas .sidebar-dropdown .panel-collapse .panel-body .list-group-item a:hover {
  color: rgba(0, 0, 0, 0.87);
}
.sidebar-indicators-by-weighting-areas .sidebar-dropdown .panel-collapse .panel-body .list-group-item:hover {
  background: #151515; /*nc*/
}

@media screen and (max-width: 992px) {
  .sidebar-indicators-by-weighting-areas {
    top: 65px;/*54*/
    right: 0px;
  }
}

/*------ Graphs -----*/
/* pie chart */
/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 30px; height: 16px; margin: 2px; }
/* your colors */
.legend .option1 { background: rgba(255, 127, 14, 0.7); }
.legend .option2 { background: rgba(31, 119, 180, 0.7); }

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

path.slice{
  stroke-width:2px;
}

polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.labelValue
{
  font-size: 60%;
  opacity: .5;

}

/*.toolTip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}*/

/*.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 18px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}*/

text {
  font: 11px sans-serif;
}

/*table chart*/
table{
  font-size: 11px;
  text-align: right;
  margin: auto;
  margin-bottom: 5px;
  border-collapse: collapse;
}
th{
  font-family: 'Roboto', sans-serif;
  width: 100px;
  padding: 5px;
  background: #0c5460;
  color: #fff;
  text-align: center;
}
td{
  border: 1px solid #dee2e6;
  padding: 3px;
}

tr:first-child th:first-child { border-top-left-radius: 5px; }
tr:first-child th:last-child { border-top-right-radius: 5px; }
tr:last-child td:first-child { border-bottom-left-radius: 5px; }
tr:last-child td:last-child { border-bottom-right-radius: 5px; }
/*p{
  margin: auto;
  margin-bottom: 50px;
}*/
.main{
  margin: auto;
  width: 70%;
}
.para{
  float: left;
  width: 44%;
}
.table{
  width: 49%;
  float: right;
}
.source{
  float: left;
  font-size: 16px;
  margin-top: 30px;
}

.subti{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}
a:link, a:visited{
  text-decoration: none;
  color: #418FC6;
}
.model{
  font-family: 'Roboto', sans-serif;
  color: #444;
}
.tableTitle{
  font-family: 'Roboto', sans-serif;
  text-align: right;
  margin-bottom: 20px;
}

/*vertical bar chart graph*/
.bar {
  fill: #F29F05;
}
.bar:hover {
  fill: #0E3D59;
}

.barLabel {
  font-size: 10px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 10px;
}
.x path {
  display: none;
}
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #0E3D59;
  padding: 14px;
  font-size: small;
  text-align: center;
}
.barchart .legend {
  fill: black;
  font: 11px sans-serif;
  text-anchor: start;
  /*font-size: 12px;*/
}
.barchart text {
  fill: black;
  font: 11px sans-serif;
  text-anchor: end; /*end*/
}
.barchart .label {
  fill: black;
  font: 11px sans-serif;
  text-anchor: end;
}

.barRect:hover {
  /*fill: #000000;
  fill-opacity: 0.1;*/
  stroke-width:1;
  stroke:#000000;
}

/* ---------- */
.dropdown-toggle_maf::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: 1.8255em!important;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  font-size: 18px;
  margin-bottom: -20px;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.dropdown-menu-maf.show {
  display: block;
}

:host /deep/ .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0 20px!important;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

/* ------------ */
[hidden]:not([broken]) { display: none !important;}

/* ------------ */
.row {
  width: 100%;
  margin: 5px auto;
  background: rgba(255,255,255, 0.8);
}

.block {
  width: 150px;
  display: inline-block;
}

.svg-title {
  text-align: center;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 5px;
}

/* -----Age pyramid ------ */
.barPyramid.left {
  fill: #88A61B;
}
.barPyramid.right {
  fill: #F29F05;
}

.barPyramid:hover {
  stroke-width:1;
  stroke:#000000;
}

.labelsAxis {
  font-size: 10px;
}


