<nav class="sidebar-indicators-by-weighting-areas" id="indicators-by-weighting-areas">
  <div role="region" class="widget-pane-content-holder">
    <div tabindex="-1" class="section-listbox section-listbox-root">
      <div class="section-hero-header">
        <div class="widget-pane-clear" style='display:none'></div>
        <!--<div class="section-hero-header-description">
          <div>
            <h1 class="section-hero-header-title" id="no-entidad">{{PANELNAME}}</h1>
            <h1 class="section-hero-header-subtitle" id="cat-name">{{CAT_01}}</h1>
          </div>
        </div>-->
        <div _ngcontent-c2="" class="section-hero-header-description"
             style="text-align:left;width:100%;padding-bottom: 0px">
          <a _ngcontent-c2="" aria-expanded="false" aria-haspopup="true" class="dropdown-toggle_maf"
             data-toggle="dropdown" href="javascript:void(0)" id="navbarDropdownMenu2Link" style="color: #ffffff;">
            <div style="color: white;">
              <h1 class="section-hero-header-title" id="no-entidad">{{PANELNAME}}</h1>
              <h1 class="section-hero-header-subtitle" id="cat-name">{{categories[categoryDefaultIndex].name}}</h1>
            </div>
          </a>
          <div aria-labelledby="navbarDropdownMenu2Link" style="width: 93%; font-size: 12px;"
               class="dropdown-menu dropdown-menu-right">
            <button *ngFor="let cat of categories" class="dropdown-item-maf btn-outline-blue" (click)="onGraphCategoryChange(cat.id)">
              {{cat.name}} <span class="badge badge-warning badge-pill">{{cat.graphics}}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="section-info">
        <div class="box box-info" style=" border: 2px solid #516161;" role="alert">
          <h6 class="alert-heading">Description:</h6>
          <p>Put a short description about the graphs. This example text is going to run a bit longer so that you can
            see how spacing within an alert works with this kind of content.</p>
          <ol>
            <li>Tabela comparativa de características socioeconômicas entre a AP, Municipio de SP, RMSP, UF de São Paulo
              e Brasil
            </li>
            <li>Estrutura Ocupacional</li>
            <li>COD.AP: {{CODAP}}</li>
          </ol>
          <!--<hr>
          <p class="mb-0">Another graphs............</p>-->

        </div>
      </div>

      <!-- section graph: socioeconomic characteristics -->
      <div class="section-divider" style="height: 7px"></div>
      <div class="section-info">
        <div>
          <!--<h5>Características Socioeconômicas</h5>-->
          <div class="section-graph">
            <div class="md-list md-whiteframe-z0 bg-white m-b"></div>
            <div [hidden]="!categories[0].visible">
              <!--tabela Compartiva sobre características socioeconômicas -->
              <div class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-users fa-fw"></i> {{'ses' | translate}}</h6>
                <div #comparativeTableGraph ></div>
              </div>

              <!--GRAPH: ESTRUTURA OCUPACIONAL -->
              <div class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-wrench fa-fw"></i> {{'ocup' | translate}}</h6>

                <!--tab -->
                <div >
                  <ul class="nav nav-tabs text-center" id="structureOcupationalTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="ap-tabStructureOcupational" data-toggle="tab" href="#apStructureOcupational"
                         role="tab" aria-controls="apStructureOcupational" aria-selected="true"><i class="fa fa-circle"></i> AP</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="metropole-tabStructureOcupational" data-toggle="tab" href="#metropoleStructureOcupational"
                         role="tab" aria-controls="metropoleStructureOcupational" aria-selected="false"><i class="fa fa-building"></i> RMSP</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="uf-tabStructureOcupational" data-toggle="tab" href="#ufStructureOcupational"
                         role="tab" aria-controls="ufStructureOcupational" aria-selected="false"><i class="fa fa-map-marker"></i> SP</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="brasil-tabStructureOcupational" data-toggle="tab" href="#brasilStructureOcupational"
                         role="tab" aria-controls="brasilStructureOcupational" aria-selected="false"><i class="fa fa-map"></i> Brasil</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="structureOcupationalTabContent">
                    <div class="tab-pane fade show active" id="apStructureOcupational" role="tabpanel" aria-labelledby="ap-tabStructureOcupational">
                      <div #occupationalStructureByAPGraph style="background: rgba(255,255,255, 0.8); margin-top: 5px;"></div>
                    </div>
                    <div class="tab-pane fade" id="metropoleStructureOcupational" role="tabpanel" aria-labelledby="metropole-tabStructureOcupational">
                      <div #occupationalStructureByMetropoleGraph style="background: rgba(255,255,255, 0.8); margin-top: 5px;"></div>
                    </div>
                    <div class="tab-pane fade" id="ufStructureOcupational" role="tabpanel" aria-labelledby="uf-tabStructureOcupational">
                      <div #occupationalStructureByUFGraph style="background: rgba(255,255,255, 0.8); margin-top: 5px;"></div>
                    </div>
                    <div class="tab-pane fade" id="brasilStructureOcupational" role="tabpanel" aria-labelledby="brasil-tabStructureOcupational">
                      <div #occupationalStructureByBrasilGraph style="background: rgba(255,255,255, 0.8); margin-top: 5px;"></div>
                    </div>
                  </div>
                </div>
                <!-- end tab -->
              </div>
              <!-- END ESTRUTURA OCUPACIONAL -->
            </div>
            <div [hidden]="!categories[1].visible">
              <!-- Perfil Educacional - Alfabetização - literacy -->
              <div class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-book fa-fw"></i> {{'perfilEducacional' | translate}} <br> {{'alfabetizacao' | translate}}</h6>
                <div class="row" >
                  <div #profEduAlfabByAPGraph class="block"></div>
                  <div #profEduAlfabByMetropoleGraph class="block"></div>
                </div>
                <div class="row">
                  <div #profEduAlfabByUFGraph class="block"></div>
                  <div #profEduAlfabByBrasilGraph class="block"></div>
                </div>
              </div>

              <!-- Perfil Educacional - REALIZAÇÃO -->
              <div class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-graduation-cap fa-fw"></i> {{'perfilEducacional' | translate}} <br> {{'realizacao' | translate}}</h6>

                <!--tab -->
                <div>
                  <ul class="nav nav-tabs text-center" id="CatProfileEducationalTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="ap-tabCatProfileEducational" data-toggle="tab" href="#apCatProfileEducational"
                         role="tab" aria-controls="apCatProfileEducational" aria-selected="true"><i class="fa fa-circle"></i> AP</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="metropole-tabCatProfileEducational" data-toggle="tab" href="#metropoleCatProfileEducational"
                         role="tab" aria-controls="metropoleCatProfileEducational" aria-selected="false"><i class="fa fa-building"></i> RMSP</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="uf-tabCatProfileEducational" data-toggle="tab" href="#ufCatProfileEducational"
                         role="tab" aria-controls="ufCatProfileEducational" aria-selected="false"><i class="fa fa-map-marker"></i> UF de SP</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="brasil-tabCatProfileEducational" data-toggle="tab" href="#brasilCatProfileEducational"
                         role="tab" aria-controls="brasilCatProfileEducational" aria-selected="false"><i class="fa fa-map"></i> Brasil</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="CatProfileEducationalTabContent">
                    <div class="tab-pane fade show active" id="apCatProfileEducational" role="tabpanel" aria-labelledby="ap-tabCatProfileEducational">
                      <div #profEduRealizacaoByAPGraph></div>
                    </div>
                    <div class="tab-pane fade" id="metropoleCatProfileEducational" role="tabpanel" aria-labelledby="metropole-tabCatProfileEducational">
                      <div #profEduRealizacaoByMetropoleGraph></div>
                    </div>
                    <div class="tab-pane fade" id="ufCatProfileEducational" role="tabpanel" aria-labelledby="uf-tabCatProfileEducational">
                      <div #profEduRealizacaoByUFGraph></div>
                    </div>
                    <div class="tab-pane fade" id="brasilCatProfileEducational" role="tabpanel" aria-labelledby="brasil-tabCatProfileEducational">
                      <div #profEduRealizacaoByBrasilGraph></div>
                    </div>
                  </div>
                </div>
                <!-- end tab -->
              </div>

              <!--END REALIZAÇÃO -->
            </div>
            <div [hidden]="!categories[2].visible">
              <!-- GRAPH: ALFABETIZACAO -->
              <div class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-graduation-cap fa-fw"></i> {{'alfabetizacao' | translate}}</h6>
                <div #literacyGraph ></div>
              </div>

              <!-- GRAPH: FREQUENCIA A ESCOLA -->
              <div class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-graduation-cap fa-fw"></i> {{'frequentaEscola' | translate}}</h6>
                <div #scholarFrequencyGraph ></div>
              </div>

              <!-- GRAPH: NIVEL FREQUENTADO -->
              <div class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-graduation-cap fa-fw"></i> {{'nivelFrequentado' | translate}}</h6>
                <!--tab -->
                <div >
                  <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="ap-tab" data-toggle="tab" href="#ap" role="tab" aria-controls="ap" aria-selected="true"><i class="fa fa-circle"></i> AP</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="metropole-tab" data-toggle="tab" href="#metropole" role="tab" aria-controls="metropole" aria-selected="false"><i class="fa fa-building"></i> RMSP</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="uf-tab" data-toggle="tab" href="#uf" role="tab" aria-controls="uf" aria-selected="false"><i class="fa fa-map-marker"></i> UF de SP</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="brasil-tab" data-toggle="tab" href="#brasil" role="tab" aria-controls="brasil" aria-selected="false"><i class="fa fa-map"></i> Brasil</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="ap" role="tabpanel" aria-labelledby="ap-tab">
                      <div #educationalLevelByAPGraph style="background: rgba(255,255,255, 0.8); margin-top: 5px;"></div>
                    </div>
                    <div class="tab-pane fade" id="metropole" role="tabpanel" aria-labelledby="metropole-tab">
                      <div #educationalLevelByMetropoleGraph style="background: rgba(255,255,255, 0.8); margin-top: 5px;"></div>
                    </div>
                    <div class="tab-pane fade" id="uf" role="tabpanel" aria-labelledby="uf-tab">
                      <div #educationalLevelByUFGraph style="background: rgba(255,255,255, 0.8); margin-top: 5px;"></div>
                    </div>
                    <div class="tab-pane fade" id="brasil" role="tabpanel" aria-labelledby="brasil-tab">
                      <div #educationalLevelByBrasilGraph style="background: rgba(255,255,255, 0.8); margin-top: 5px;"></div>
                    </div>
                  </div>
                </div>
                <!-- end tab -->
              </div>
              <!--END NIVEL FREQUENTADO -->
            </div>
            <div [hidden]="!categories[3].visible">
              <!-- GRAPH: AGE PYRAMID -->
              <div class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-users fa-fw"></i> {{'piramide' | translate}}</h6>
                <!--tab -->
                <div>
                  <ul class="nav nav-tabs text-center" id="agePyramidTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="agePyramidByAp-tab" data-toggle="tab" href="#agePyramidByAp" role="tab" aria-controls="agePyramidByAp" aria-selected="true"><i class="fa fa-circle"></i> AP</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="agePyramidByMetropole-tab" data-toggle="tab" href="#agePyramidByMetropole" role="tab" aria-controls="agePyramidByMetropole" aria-selected="false"><i class="fa fa-building"></i> RMSP</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="agePyramidByUF-tab" data-toggle="tab" href="#agePyramidByUF" role="tab" aria-controls="agePyramidByUF" aria-selected="false"><i class="fa fa-map-marker"></i> UF de SP</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="agePyramidByBrasil-tab" data-toggle="tab" href="#agePyramidByBrasil" role="tab" aria-controls="agePyramidByBrasil" aria-selected="false"><i class="fa fa-map"></i> Brasil</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="agePyramidContent">
                    <div class="tab-pane fade show active" id="agePyramidByAp" role="tabpanel" aria-labelledby="agePyramidByAp-tab">
                      <!--<div class="row" >
                        <div #profileEducationalByAPGraph class="block"></div>
                        <div #profileEducationalByMetropoleGraph class="block"></div>
                      </div>-->
                      <div #agePyramidByAPGraph></div>
                    </div>
                    <div class="tab-pane fade" id="agePyramidByMetropole" role="tabpanel" aria-labelledby="agePyramidByMetropole-tab">
                      <div #agePyramidByMetropoleGraph ></div>
                    </div>
                    <div class="tab-pane fade" id="agePyramidByUF" role="tabpanel" aria-labelledby="agePyramidByUF-tab">
                      <div #agePyramidByUFGraph ></div>
                    </div>
                    <div class="tab-pane fade" id="agePyramidByBrasil" role="tabpanel" aria-labelledby="agePyramidByBrasil-tab">
                      <div #agePyramidByBrasilGraph ></div>
                    </div>
                  </div>
                </div>
                <!-- end tab -->
              </div>
              <!-- END: AGE PYRAMID -->

              <!-- Graph: Distribuição racial -->
              <div class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-users fa-fw"></i> {{'raca' | translate}}</h6>
                <div #racialDistributionGraph ></div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- End section graph: socioeconomic characteristics -->
    </div>

  </div>
</nav>


