<nav class="sidebar">
  <ul class="list-group">
    <a routerLink="/geolocation" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-map-marker"></i>&nbsp;{{ 'geolocation' | translate }}
    </a>
    <!--<a [routerLink]="['/compare']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-columns"></i>&nbsp;{{ 'compare' | translate }}
    </a>
    <a [routerLink]="['/educational-variables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-mortar-board"></i>&nbsp;{{ 'educational-variables' | translate }}
    </a>-->
    <!--<a [routerLink]="['/socioeconomic-indicators']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'socioeconomic-indicators' | translate }}
    </a>-->
    <!--<a [routerLink]="['/option3']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'option3' | translate }}
    </a>
    <a [routerLink]="['/option4']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'option4' | translate }}
    </a>-->
    <a [routerLink]="['/about-project']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-info-circle"></i>&nbsp;{{ 'aboutProject' | translate }}
    </a>
    <a class="list-group-item more-themes" target="_blank" href="http://centrodametropole.fflch.usp.br" >
      <i class="fa fa-fw fa-external-link"></i> {{ 'aboutCem' | translate }}
    </a>

    <!--<li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-language"></i> {{ 'language' | translate }}
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('pt')">Português</a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">English</a>
      </div>
    </li>-->
  </ul>
</nav>
