<nav class="sidebar">
  <ul class="list-group">
    <a routerLink="/geolocation" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-map-marker"></i>&nbsp;{{ 'geolocation' | translate }}
    </a>
    <a [routerLink]="['/compare']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-columns"></i>&nbsp;{{ 'compare' | translate }}
    </a>
    <a [routerLink]="['/graphs']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-mortar-board"></i>&nbsp;{{ 'educational-variables' | translate }}
    </a>
    <a [routerLink]="['/option2']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'socioeconomic-indicators' | translate }}
    </a>
    <a [routerLink]="['/option3']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'option3' | translate }}
    </a>
    <a [routerLink]="['/option4']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'option4' | translate }}
    </a>
    <a [routerLink]="['/option5']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-info-circle"></i>&nbsp;{{ 'aboutproject' | translate }}
    </a>
    <a class="list-group-item more-themes" href="http://centrodametropole.org.br/escolas" >
      {{ 'aboutcem' | translate }}
    </a>
  </ul>
</nav>
