<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive }">
  <ul class="list-group">
    <a routerLink="/geolocation" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'geolocation' | translate }}
    </a>
    <a [routerLink]="['/compare']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'compare' | translate }}
    </a>
    <a [routerLink]="['/option1']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'option1' | translate }}
    </a>
    <a [routerLink]="['/option2']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'option2' | translate }}
    </a>
    <a [routerLink]="['/option3']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'option3' | translate }}
    </a>
    <a [routerLink]="['/option4']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'option4' | translate }}
    </a>
    <a [routerLink]="['/option5']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-th-list"></i>&nbsp;{{ 'option5' | translate }}
    </a>
    <a class="list-group-item more-themes" href="http://centrodametropole.org.br/escolas" >
      {{ 'aboutcem' | translate }}
    </a>
  </ul>
</nav>
