<!-- class="pos-f-t header"-->
<div class="fixed-top header">
  <!-- navbar-toggleable-md : to display the menu icon-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-toggleable-md">
    <button class="navbar-toggler navbar-le cursor-hand"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            type="button" title="Menu" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon "></span>
    </button>
    <a class="navbar-brand ml-3" href="#">{{brand}}</a>

    <ng2-completer name="searchField"
                   [(ngModel)]="searchField"
                   #searchField1="ngModel"
                   [datasource]="schoolListFiltered"
                   [minSearchLength]="3"
                   [selectOnClick]="true"
                   [textSearching]="'Por favor aguarde, procurando...'"
                   [textNoResults]="'Nenhúm resultado encontrado'"
                   [placeholder]="'Digite o nome da escola que está procurando'"
                   (selected)="onSchoolSelected($event)"
                   >
    </ng2-completer>
    <!--<p class="text-info">{{removeDiacritics(searchField)}}</p>-->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto mt-2 mt-md-0">
        <li class="nav-item dropdown" ngbDropdown>
          <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
            <i class="fa fa-language"></i> {{ 'language' | translate }}<!-- <b class="caret"></b>-->
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('pt')">Português</a>
            <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">English</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
