<div class="pos-f-t fixed-top header">
  <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-left cursor-hand" title="Menu" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon "></span>
    </button>
    <a class="navbar-brand ml-6" href="#" id="logo">{{logo}}</a>

    <ng2-completer name="searchField"
                   [(ngModel)]="searchField"
                   #searchField1="ngModel"
                   [datasource]="schoolListFiltered"
                   [minSearchLength]="3"
                   [selectOnClick]="true"
                   [textSearching]="'Por favor aguarde, procurando...'"
                   [textNoResults]="'Nenhum resultado encontrado'"
                   [placeholder]="'Digite o nome da escola que esta procurando'"
                   (selected)="onSchoolSelected($event)" >
    </ng2-completer>
    <!--<p class="text-info">{{removeDiacritics(searchField)}}</p>-->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto mt-2 mt-md-0">
        <li class="nav-item dropdown" ngbDropdown>
          <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
            <i class="fa fa-language"></i> {{ 'language' | translate }} <b class="caret"></b>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">English</a>
            <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('pt')">Portugues</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
