<nav class="sidebar-school-details" >
  <div role="region" class="widget-pane-content-holder">
    <div tabindex="-1" class="section-listbox section-listbox-root">
      <div class="section-hero-header">
        <div class="section-hero-header-description" style="text-align:left;width:100%;padding-bottom: 15px;">
          <div style="color: white;">
            <h1 class="section-hero-header-title" id="no-entidad">{{NO_ENTIDAD}}</h1>
            <h1 class="section-hero-header-subtitle" id="cat-name">{{sections[sectionDefaultIndex].name | translate}}</h1>
          </div>
          <hr style="border-top: 1px solid rgba(255,255,255,.2)">
          <h1 class="section-hero-header-subtitle alert-heading">{{'leftPanelOptionsLabel' | translate}}:</h1>
          <!--<div class="section-info-line">-->
            <!--<div class="section-info-icon" ><b>{{'ano' | translate}}:</b></div>-->
            <select (change)="onSectionChange($event.target.value)" class="custom-select">
              <option *ngFor="let section of sections" value="{{section.id}}">{{ section.name | translate}}</option>
            </select>
          <!--</div>-->
        </div>

        <!--<div class="section-info">
          <div class="box box-info" style=" border: 2px solid #516161;" role="alert">
            <h6 class="alert-heading">{{'leftPanelOptions' | translate}}:</h6>
            <div class="section-info-line">
              <select (change)="onSectionChange($event.target.value)" class="custom-select">
                <option *ngFor="let section of sections" value="{{section.id}}">{{ section.name | translate}}</option>
              </select>
            </div>
          </div>
        </div>
        -->
      </div>
      <!-- School's general details -->
      <app-geral-information [hidden]="!sections[0].visible"></app-geral-information>

      <!-- Graphs -->
      <app-graphs [hidden]="!sections[1].visible"></app-graphs>

    </div>
  </div>
</nav>
