<div>
  <!-- button to display/hide the school details -->
  <button type="button"  class="btn btn-toggle-schooldetails " *ngIf="schoolSelectedFlag"
          (click)="toggleSchoolDetails()">
    <i id="toggle-school-details-icon" class="fa fa-fw fa-chevron-left"></i>
  </button>

  <!-- Geolocation of a school -->
  <div class="map-container">
    <!-- Display/hide settings button trigger Modal-->
    <button type="button" class="btn btn-outline-dark btn-map" style="right:10px; bottom: 25px;"
            data-toggle="modal" data-target="#exampleModal" >
      <i id="toggle-settings-icon" class="fa fa-2x fa-sliders fa-fw"></i>
    </button>
    <!-- End Display/hide button -->

    <div id="mymap" leaflet style="height: 100%;"
         [leafletOptions]="options"
         [leafletZoom] = "zoom"
         [leafletCenter] = "center"
         [leafletLayers] = "layers"

         [leafletMarkerCluster] = "markerClusterData"
         [leafletMarkerClusterOptions] = "markerClusterOptions"
         (leafletMarkerClusterReady) = "markerClusterReady($event)"
         (leafletMapReady) = "mapReady($event)">

    </div>

  </div>
  <!-- End - Geolocation panel-->
  <!-- Weighting Area's information Details -->
  <!-- *ngIf="schoolSelectedFlag" -->
  <app-indicators-by-weighting-areas></app-indicators-by-weighting-areas>
  <!-- end Weighting Area's information Details -->
  <!-- button to display/hide the weighting areas information -->
  <button type="button"  class="btn btn-toggle-indicatiors-by-weighting-areas " *ngIf="weightingAreaInfoSelectedFlag"
          (click)="toggleIndicatiorsByWeightingAreas()">
    <i id="toggle-weighting-area-icon" class="fa fa-fw fa-chevron-right"></i>
  </button>

</div>

<!-- MODAL: SETTINGS -->
<div class="modal fade" id="exampleModal" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'settings-map' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- modal body -->
      <div class="modal-body">
        <form >
          <!-- Base Layers -->
          <div class="form-group">
            <label class="form-control-label col-sm-8 col-lg-8">
              Base Layers
            </label>
            <div class="custom-radio col-sm-10 col-lg-10"  style="font-size: 13px;"
                 [class.col-sm-offset-4]="i !== 0"
                 [class.col-lg-offset-4]="i !== 0"
                 *ngFor="let layer of model.baseLayers; let i = index">
              <label class="form-check-label">
                <input type="radio" class="form-check-input"
                       [name]="layer.id"
                       [(ngModel)]="model.baseLayer"
                       [value]="layer.id">
                {{layer.name}}
              </label>
            </div>
          </div>
          <!-- Overlay Layers -->
          <div *ngIf="null != model.overlayLayers && model.overlayLayers.length > 0" class="form-group">
            <label class="form-control-label col-sm-8 col-lg-8">
              Control Layers
            </label>
            <div class="form-check col-sm-10 col-lg-10"  style="font-size: 13px;">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input"
                       [name]="model.overlayLayers[0].id"
                       [(ngModel)]="model.overlayLayers[0].enabled" >
                {{model.overlayLayers[0].name}}
              </label>
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input"
                       [name]="model.overlayLayers[1].id"
                       [(ngModel)]="model.overlayLayers[1].enabled" >
                {{model.overlayLayers[1].name}}
              </label>
            </div>
          </div>
          <!--<button type="button" (click)="onApply()" class="btn btn-primary form-control">
            <i  class="fa fa-fw fa-check"></i> Aplicar
          </button>-->
        </form>
      </div>
      <!-- end modal body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i  class="fa fa-fw fa-close"></i> {{'close' | translate}}
        </button>
        <button type="button" class="btn btn-primary" (click)="onApply()">
          <i  class="fa fa-fw fa-check"></i>{{'apply-changes' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL: SETTINGS -->


