<div [@routerTransition] class="map-container">
  <div class="row" style="height: 100%">
    <div class="col-lg-12" style="height: 100%">
      <!--<agm-map id="schools-geolocation"
               [latitude]="-23.552133"
               [longitude] = "-46.6331418"
               [zoom] = "15">
        <agm-marker *ngFor = "let escola of schoolsCoordinates"
                    [latitude] = "convertToDouble(convertStringToNumber(escola.Latitude))"
                    [longitude] = "convertToDouble(convertStringToNumber(escola.Longitude))"
                    [iconUrl] = "'assets/images/marcador_school_default.png'"
        >
        </agm-marker>
      </agm-map>-->
      <!--<div style="height: 100%;" leaflet [leafletOptions]="options2" [leafletLayers]="neighboringSchoolsLayer"></div>-->
      <button style="position: absolute; z-index: 3000; top: 70px" (click)="recenter()" >recenter</button>
      <div id="mymap" leaflet style="height: 100%;"
           [leafletBaseLayers] = "baseLayers"
           [leafletZoom] = "zoom"
           [leafletCenter] = "center"
           [leafletLayers] = "neighboringSchoolsLayer"
           [leafletLayersControlOptions] = "layersControlOptions"

           [leafletMarkerCluster] = "markerClusterData"
           [leafletMarkerClusterOptions] = "markerClusterOptions"
           (leafletMarkerClusterReady) = "markerClusterReady($event)">
      </div>
    </div>
  </div>
</div>


