<div [@routerTransition] >
  <div class="row" class="map-container" >
    <div class="col-lg-12" style="height: 100%">
      <!--<agm-map id="schools-geolocation"
               [latitude]="-23.552133"
               [longitude] = "-46.6331418"
               [zoom] = "15">
        <agm-marker *ngFor = "let escola of schoolsCoordinates"
                    [latitude] = "convertToDouble(convertStringToNumber(escola.Latitude))"
                    [longitude] = "convertToDouble(convertStringToNumber(escola.Longitude))"
                    [iconUrl] = "'assets/images/marcador_school_default.png'"
        >
        </agm-marker>
      </agm-map>-->
      <!--<div style="height: 100%;" leaflet [leafletOptions]="options2" [leafletLayers]="neighboringSchoolsLayer"></div>-->
      <!--<button style="position: absolute; z-index: 3000; top: 70px" (click)="recenter()" >recenter</button>-->
      <button *ngIf="schoolSelectedFlag"
              style="position: absolute; z-index: 3000;
              left:25px; top: 80px; width:35px"
              (click)="toggleSchoolDetails()">
        <!-- <i class="material-icons">chevron_right</i> -->
        <i id="toggle-school-details-icon" class="fa fa-fw"></i>
      </button>
      <!-- button to display/hide the school details -->
      <!--<button class="section-hero-header-display-hide" (click)="toggleSchoolDetails()">
        <div class="section-hero-header-display-hide-base" style="padding: 18px">
          <i class="material-icons section-hero-header-display-hide-icon">arrow_back</i>
        </div>
      </button>-->
      <div id="mymap" leaflet style="height: 100%;"
           [leafletBaseLayers] = "baseLayers"
           [leafletZoom] = "zoom"
           [leafletZoomOptions]="zoomOptions"
           [leafletCenter] = "center"
           [leafletLayers] = "neighboringSchoolsLayer"
           [leafletLayersControlOptions] = "layersControlOptions"

           [leafletMarkerCluster] = "markerClusterData"
           [leafletMarkerClusterOptions] = "markerClusterOptions"
           (leafletMarkerClusterReady) = "markerClusterReady($event)">
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <!-- Desempenho das escolas por níveis de ensino -->
  <div class="row" *ngIf="schoolSelectedFlag">
    <div class="col-md-12">
      <div class="card card-default">
        <div class="card-header">
          <i class="fa fa-clock-o fa-fw"></i> Desempenho das escolas por níveis de ensino
        </div>
        <!-- /.graphics-header -->
        <app-graphics></app-graphics>
        <!-- /.graphics-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>


