agm-map {
  height: 100%;
  width: 100%;
}

/*.container-dimensions {
  height: 100%;
}*/
/*.map-container {
  background-color: #151515;
  height:100%;
  margin: -7px;
}*/
.map-container {
  background-color: #ffffff;/*#151515;*/
  margin: 0px -15px -62px;
  padding-bottom: 62px;
  height: 100vh;
}
