<div>
  <div class="bd-callout bd-callout-info ml-3 mr-3 mb-3" style="margin-top: 4rem">
    <h4 > Conheça o Projeto </h4>
    <div>
      <p>{{'AboutProjParr1'|translate}}</p>
      <p>{{'AboutProjParr2'|translate}}</p>
      <p>{{'AboutProjParr3'|translate}}</p>
      <p>{{'AboutProjParr4'|translate}}</p>
      <p>{{'AboutProjParr5'|translate}}</p>
      <p>{{'AboutProjParr6'|translate}}</p>
      <p>{{'AboutProjParr7'|translate}}</p>
      <p>{{'AboutProjParr8'|translate}}</p>
    </div>
  </div>
</div>
