.main-container {
  margin-top: 62px;
  margin-left: 0px; /*320px - menu*/
  padding: 2px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  /*overflow: hidden;*/
  position: fixed;
  background: white;
  /*overflow-y: auto;*/
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

@media screen and (max-width: 992px) {
  .main-container {
    margin-left: 0px !important;
  }
}


