<div style="margin-top: -0.5rem">
  <!-- Tab contect for 'Ensino infantil' -->
  <div class="nav nav-tab-pills tab-labels" id="pills-tab" role="tablist">
    <!-- End display/hide school details button -->
    <a class="nav-tab-link active" id="pills-infantil-tab" data-toggle="pill" href="#pills-infantil" role="tab" aria-controls="pills-infantil" aria-selected="true">
      <div >
        <div class="section-action-button-icon fa fa-child fa-2x fa-fw"></div>
        <div class="nav-tab-link-text">{{'ensinoInfantil' | translate}}</div>
      </div>
    </a>
    <a class="nav-tab-link" id="pills-fundamental-tab" data-toggle="pill" href="#pills-fundamental" role="tab" aria-controls="pills-fundamental" aria-selected="false">
      <div>
        <div class="section-action-button-icon fa fa-book fa-2x fa-fw" ></div>
        <div class="nav-tab-link-text">{{'ensinoFundamental' | translate}}</div>
      </div>
    </a>
    <a class="nav-tab-link" id="pills-medio-tab" data-toggle="pill" href="#pills-medio" role="tab" aria-controls="pills-medio" aria-selected="false">
      <div>
        <div class="section-action-button-icon fa fa-graduation-cap fa-2x fa-fw"></div>
        <div class="nav-tab-link-text">{{'ensinoMedio' | translate}}</div>
      </div>
    </a>
  </div>

  <div class="tab-content" id="pills-tabContent">
    <!-- Tab content for 'Ensino Infantil' -->
    <div class="tab-pane fade show active" id="pills-infantil" role="tabpanel" aria-labelledby="pills-infantil-tab">
      <div class="text-info text-center mt-4 ml-2 mr-2" style="font-size: small" *ngIf="ofereceEnsInfantil !== ''">
        {{ofereceEnsInfantil}}
      </div>

      <div id="graficosEnsInfantil">
        <div class="box" role="alert">
          <h6 class="alert-heading text-center"><i class="fa fa-graduation-cap fa-fw"></i> {{'AFD' | translate}}</h6>
          <div class="section-info-line">
            <div class="section-info-icon-ed" ><b>{{'group' | translate}}:</b></div>
            <select (change)="onGroupChangeAFDInfantil($event.target.value)" class="custom-select">
              <option *ngFor="let group of groupsAFDInfantil">{{group}}</option>
            </select>
          </div>
          <div #AFDNivelInfantilGraph>
          </div>
          <!-- Button trigger modal -->
          <div class="text-center">
            <button type="button" class="btn btn-link" style="font-size: x-small"  data-toggle="modal" data-target="#AFDModalCenter">
              <i class="fa fa-info-circle fa-fw"></i> Ver maior informação sobre este indicador
            </button>
          </div>
        </div>

        <!-- Graph: DCS  -->
        <div id="box-DCSNivelInfantil" class="box" role="alert" >
          <h6 class="alert-heading text-center"><i class="fa fa-graduation-cap fa-fw"></i> {{'DCS' | translate}}</h6>
          <div #DCSNivelInfantilGraph>
          </div>
        </div>

        <!-- Graph: Horas Aula -->
        <div id="box-horasAulaNivelInfantil" class="box" role="alert" >
          <h6 class="alert-heading text-center"><i class="fa fa-clock-o fa-fw"></i> {{'horasAula' | translate}}</h6>
          <div #horasAulaNivelInfantilGraph>
          </div>
        </div>

        <!-- Graph: Alunos por turma -->
        <div id="box-alunosPorTurmaNivelInfantil" class="box" role="alert" >
          <h6 class="alert-heading text-center"><i class="fa fa-users fa-fw"></i> {{'alunosPorTurma' | translate}}</h6>
          <div #alunosPorTurmaNivelInfantilGraph>
          </div>
        </div>
      </div>
    </div>

    <!-- Tab content for 'Ensino Fundamental' -->
    <div class="tab-pane fade" id="pills-fundamental" role="tabpanel" aria-labelledby="pills-fundamental-tab">
      <div class="text-info text-center mt-4 ml-2 mr-2" style="font-size: small" *ngIf="ofereceEnsFundamental !== ''">
        {{ofereceEnsFundamental}}
      </div>
      <!--tab -->
      <div id="graficosEnsFundamental">
        <ul class="nav nav-tabs text-center" style = "font-size: small;margin: 0px 2px;" id="ensFundTabControl" role="tablist">
          <li class="nav-item" >
            <a class="nav-link text-capitalize active" id="tabEnsFundAIniciais" data-toggle="tab" href="#ensFundAIniciaisPanel"
               role="tab" aria-controls="ensFundAIniciaisPanel" aria-selected="true">{{'anosIniciaisCap' | translate}}</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link text-capitalize" id="tabEnsFundAFinais" data-toggle="tab" href="#ensFundAFinaisPanel"
               role="tab" aria-controls="ensFundAFinaisPanel" aria-selected="true">{{'anosFinaisCap' | translate}}</a>
          </li>
        </ul>
        <div class="tab-content" id="ensFundTabContent">
          <div class="tab-pane fade show active" id="ensFundAIniciaisPanel" role="tabpanel" aria-labelledby="tabEnsFundAIniciais">
            <div class="text-info text-center mt-4 ml-2 mr-2" style="font-size: small" *ngIf="ofereceAIniciais !== ''">
              {{ofereceAIniciais}}
            </div>
            <div id="graficosAIniciais">
              <!-- Taxa de Aprovação -->
              <div id="box-txAprovEnsFundAIniciais" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-check-circle fa-fw"></i> {{'txAprov'|translate}} </h6>
                <div #txAprovEnsFundAIniciaisGraph></div>
              </div>

              <!-- Prova de matemática -->
              <div id="box-ntProvaMatEnsFundAIniciais" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-plus-circle fa-fw"></i> {{'ntProvaMat'|translate}} </h6>
                <div #ntProvaMatEnsFundAIniciaisGraph></div>
              </div>

              <!-- Nota Lingua Portuguesa -->
              <div id="box-ntProvaPortuEnsFundAIniciais" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-book fa-fw"></i> {{'ntProvaPortu'|translate}} </h6>
                <div #ntProvaPortuEnsFundAIniciaisGraph></div>
              </div>

              <!-- Nota Média Padronizada -->
              <div id="box-ntProvaPadronizEnsFundAIniciais" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-th-large fa-fw"></i> {{'ntProvaPadroniz'|translate}} </h6>
                <div #ntProvaPadronizEnsFundAIniciaisGraph></div>
              </div>

              <!-- Nota IDEB -->
              <div id="box-idebEnsFundAIniciais" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-th-large fa-fw"></i> {{'ideb'|translate}} </h6>
                <div #idebEnsFundAIniciaisGraph></div>
              </div>

              <!-- Graph: AFD -->
              <div class="box" role="alert">
                <h6 class="alert-heading text-center"><i class="fa fa-graduation-cap fa-fw"></i> {{'AFD' | translate}}</h6>
                <div class="section-info-line">
                  <div class="section-info-icon-ed" ><b>{{'group' | translate}}:</b></div>
                  <select (change)="onGroupChangeAFDEnsFundAIniciais($event.target.value)" class="custom-select">
                    <option *ngFor="let group of groupsAFDEnsFundAIniciais">{{group}}</option>
                  </select>
                </div>
                <div #AFDEnsFundAIniciaisGraph></div>
                <!-- Button trigger modal -->
                <div class="text-center">
                  <button type="button" class="btn btn-link" style="font-size: x-small"  data-toggle="modal" data-target="#AFDModalCenter">
                    <i class="fa fa-info-circle fa-fw"></i> Ver maior informação sobre este indicador
                  </button>
                </div>
              </div>

              <!-- Graph: DCS  -->
              <div id="box-DCSEnsFundAIniciais" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-graduation-cap fa-fw"></i> {{'DCS' | translate}}</h6>
                <div #DCSEnsFundAIniciaisGraph></div>
              </div>

              <!-- Graph: Horas Aula - Regime 8 anos -->
              <div id="box-horasAulaEnsFundAIniciais8" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-clock-o fa-fw"></i> {{'horasAula' | translate}}  <br> ({{'sistema8Anos'|translate}})</h6>
                <div #horasAulaEnsFundAIniciais8Graph></div>
              </div>

              <!-- Graph: Horas Aula - Regime 9 anos -->
              <div id="box-horasAulaEnsFundAIniciais9" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-clock-o fa-fw"></i> {{'horasAula' | translate}}  <br> ({{'sistema9Anos'|translate}})</h6>
                <div #horasAulaEnsFundAIniciais9Graph></div>
              </div>

              <!-- Graph: Alunos por turma - Regime 8 anos -->
              <div id="box-alunosPorTurmaEnsFundAIniciais8" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-users fa-fw"></i> {{'alunosPorTurma' | translate}}  <br> ({{'sistema8Anos'|translate}})</h6>
                <div #alunosPorTurmaEnsFundAIniciais8Graph></div>
              </div>

              <!-- Graph: Alunos por turma - Regime 9 anos -->
              <div id="box-alunosPorTurmaEnsFundAIniciais9" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-users fa-fw"></i> {{'alunosPorTurma' | translate}}  <br> ({{'sistema9Anos'|translate}})</h6>
                <div #alunosPorTurmaEnsFundAIniciais9Graph></div>
              </div>

              <!-- Graph: ED -->
              <div class="box" role="alert">
                <h6 class="alert-heading text-center"><i class="fa fa-graduation-cap fa-fw"></i> {{'ED' | translate}}</h6>
                <div class="section-info-line">
                  <div class="section-info-icon-ed" ><b>{{'nivel' | translate}}:</b></div>
                  <select (change)="onNivelChangeEDEnsFundAIniciais($event.target.value)" class="custom-select">
                    <option *ngFor="let nivel of nivelesEDEnsFundAIniciais">{{nivel}}</option>
                  </select>
                </div>
                <div #EDEnsFundAIniciaisGraph> </div>
                <!-- Button trigger modal -->
                <div class="text-center">
                  <button type="button" class="btn btn-link" style="font-size: x-small"  data-toggle="modal" data-target="#esforcoDocenteModalCenter">
                    <i class="fa fa-info-circle fa-fw"></i> Ver maior informação sobre este indicador
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade show" id="ensFundAFinaisPanel" role="tabpanel" aria-labelledby="tabEnsFundAFinais">
            <div class="text-info text-center mt-4 ml-2 mr-2" style="font-size: small" *ngIf="ofereceAFinais !== ''">
              {{ofereceAFinais}}
            </div>
            <div id="graficosAFinais">
              <!-- Taxa de Aprovação -->
              <div id="box-txAprovEnsFundAFinais" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-check-circle fa-fw"></i> {{'txAprov'|translate}}</h6>
                <div #txAprovEnsFundAFinaisGraph> </div>
              </div>

              <!-- Prova de matemática -->
              <div id="box-ntProvaMatEnsFundAFinais" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-plus-circle fa-fw"></i> {{'ntProvaMat'|translate}} </h6>
                <div #ntProvaMatEnsFundAFinaisGraph></div>
              </div>

              <!-- Nota Lingua Portuguesa -->
              <div id="box-ntProvaPortuEnsFundAFinais" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-book fa-fw"></i> {{'ntProvaPortu'|translate}} </h6>
                <div #ntProvaPortuEnsFundAFinaisGraph></div>
              </div>

              <!-- Nota Média Padronizada -->
              <div id="box-ntProvaPadronizEnsFundAFinais" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-th-large fa-fw"></i> {{'ntProvaPadroniz'|translate}} </h6>
                <div #ntProvaPadronizEnsFundAFinaisGraph></div>
              </div>

              <!-- Nota IDEB -->
              <div id="box-idebEnsFundAFinais" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-th-large fa-fw"></i> {{'ideb'|translate}} </h6>
                <div #idebEnsFundAFinaisGraph></div>
              </div>

              <!-- Graph: AFD -->
              <div class="box" role="alert">
                <h6 class="alert-heading text-center"><i class="fa fa-graduation-cap fa-fw"></i> {{'AFD' | translate}}</h6>
                <div class="section-info-line">
                  <div class="section-info-icon-ed" ><b>{{'group' | translate}}:</b></div>
                  <select (change)="onGroupChangeAFDEnsFundAFinais($event.target.value)" class="custom-select">
                    <option *ngFor="let group of groupsAFDEnsFundAFinais">{{group}}</option>
                  </select>
                </div>
                <div #AFDEnsFundAFinaisGraph> </div>
                <!-- Button trigger modal -->
                <div class="text-center">
                  <button type="button" class="btn btn-link" style="font-size: x-small"  data-toggle="modal" data-target="#AFDModalCenter">
                    <i class="fa fa-info-circle fa-fw"></i> Ver maior informação sobre este indicador
                  </button>
                </div>
              </div>

              <!-- Graph: DCS  -->
              <div id="box-DCSEnsFundAFinais" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-graduation-cap fa-fw"></i> {{'DCS' | translate}}</h6>
                <div #DCSEnsFundAFinaisGraph></div>
              </div>

              <!-- Graph: Horas Aula - Regime 8 anos -->
              <div id="box-horasAulaEnsFundAFinais8" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-clock-o fa-fw"></i> {{'horasAula' | translate}} <br> ({{'sistema8Anos'|translate}})</h6>
                <div #horasAulaEnsFundAFinais8Graph></div>
              </div>

              <!-- Graph: Horas Aula - Regime 9 anos -->
              <div id="box-horasAulaEnsFundAFinais9" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-clock-o fa-fw"></i> {{'horasAula' | translate}} <br> ({{'sistema9Anos'|translate}})</h6>
                <div #horasAulaEnsFundAFinais9Graph></div>
              </div>

              <!-- Graph: Alunos por turma - Regime 8 anos -->
              <div id="box-alunosPorTurmaEnsFundAFinais8" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-users fa-fw"></i> {{'alunosPorTurma' | translate}} <br> ({{'sistema8Anos'|translate}})</h6>
                <div #alunosPorTurmaEnsFundAFinais8Graph></div>
              </div>

              <!-- Graph: Alunos por turma - Regime 9 anos -->
              <div id="box-alunosPorTurmaEnsFundAFinais9" class="box" role="alert" >
                <h6 class="alert-heading text-center"><i class="fa fa-users fa-fw"></i> {{'alunosPorTurma' | translate}} <br> ({{'sistema9Anos'|translate}})</h6>
                <div #alunosPorTurmaEnsFundAFinais9Graph></div>
              </div>

              <!-- Graph: ED -->
              <div class="box" role="alert">
                <h6 class="alert-heading text-center"><i class="fa fa-graduation-cap fa-fw"></i> {{'ED' | translate}}</h6>
                <div class="section-info-line">
                  <div class="section-info-icon-ed" ><b>{{'nivel' | translate}}:</b></div>
                  <select (change)="onNivelChangeEDEnsFundAFinais($event.target.value)" class="custom-select">
                    <option *ngFor="let nivel of nivelesEDEnsFundAFinais">{{nivel}}</option>
                  </select>
                </div>
                <div #EDEnsFundAFinaisGraph> </div>
                <!-- Button trigger modal -->
                <div class="text-center">
                  <button type="button" class="btn btn-link" style="font-size: x-small"  data-toggle="modal" data-target="#esforcoDocenteModalCenter">
                    <i class="fa fa-info-circle fa-fw"></i> Ver maior informação sobre este indicador
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end tab Ensino Fundamental -->

    <!-- Tab content for 'Ensino Médio' -->
    <div class="tab-pane fade" id="pills-medio" role="tabpanel" aria-labelledby="pills-medio-tab">
      <div class="text-info text-center mt-4 ml-2 mr-2" style="font-size: small" *ngIf="ofereceEnsMedio !== ''">
        {{ofereceEnsMedio}}
      </div>
      <div id="graficosEnsMedio">
        <ul class="nav nav-tabs text-center" style="font-size: 12px;margin: 0px 2px;" id="ensMedioTabControl" role="tablist">
          <li class="nav-item">
            <a class="nav-link  active" id="tabEnsMedPerformance" data-toggle="tab" href="#EnsMedPerformancePanel"
               role="tab" aria-controls="EnsMedPerformancePanel" aria-selected="true">
              <div class="text-center">{{'ensMedPerformanceLine1' | translate}}<br/>{{'ensMedPerformanceLine2' | translate}}</div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " id="tabEnsMedDocentes" data-toggle="tab" href="#EnsMedDocentesPanel"
               role="tab" aria-controls="EnsMedDocentesPanel" aria-selected="true">
              <div class="text-center" style="line-height: 36px;">{{'ensMedDocentes' | translate}}</div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " id="tabEnsMedAulas" data-toggle="tab" href="#EnsMedAulasPanel"
               role="tab" aria-controls="EnsMedAulasPanel" aria-selected="true">
              <div class="text-center">{{'ensMedAulasLine1' | translate}}<br/>{{'ensMedAulasLine2' | translate}}</div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="tabEnsMedNivelSocioec" data-toggle="tab" href="#EnsMedNivelSocioecPanel"
               role="tab" aria-controls="EnsMedNivelSocioecPanel" aria-selected="true">
              <div class="text-center">{{'ensMedNivelSocioecLine1' | translate}}<br/>{{'ensMedNivelSocioecLine2' | translate}}</div>
            </a>
          </li>
        </ul>
        <div class="tab-content" id="ensMedioTabContent">
          <!-- tab performance -->
          <div class="tab-pane fade show active" id="EnsMedPerformancePanel" role="tabpanel" aria-labelledby="tabEnsMedPerformance">
            <!-- Taxa de Aprovação -->
            <div id="box-txAprovEnsMedio" class="box" role="alert" >
              <h6 class="alert-heading text-center"><i class="fa fa-check-circle fa-fw"></i> {{'txAprov'|translate}}  <br> ({{'terceiroAno'|translate}})</h6>
              <div #txAprovEnsMedioGraph>
              </div>
            </div>

            <!-- Taxa de Abandono -->
            <div id="box-txAbandonoEnsMedio" class="box" role="alert" >
              <h6 class="alert-heading text-center"><i class="fa fa-th-large fa-fw"></i> {{'txAbandono' | translate}} <br> ({{'primeiroAno'|translate}})</h6>
              <div #txAbandonoEnsMedioGraph>
              </div>
            </div>

            <!-- Taxa de Distorção -->
            <div id="box-txDistorEnsMedio" class="box" role="alert" >
              <h6 class="alert-heading text-center"><i class="fa fa-th-large fa-fw"></i> {{'txDistor' | translate}} <br> ({{'terceiroAno'|translate}})</h6>
              <div #txDistorEnsMedioGraph>
              </div>
            </div>

            <!-- Graph: Provas ENEM -->
            <div class="box" role="alert">
              <h6 class="alert-heading text-center"><i class="fa fa-bookmark fa-fw"></i> {{'enem' | translate}}</h6>
              <div class="section-info-line">
                <div class="section-info-icon-ed" ><b>{{'ano' | translate}}:</b></div>
                <select (change)="onGroupChangeAnoProvaEnemEnsMedio($event.target.value)" class="custom-select">
                  <option *ngFor="let ano of anosProvasEnemEnsMedio">{{ano | translate}}</option>
                </select>
              </div>
              <div #provasEnemEnsMedioGraph> </div>
            </div>
          </div>
          <!-- end Performance -->

          <!-- tab docentes -->
          <div class="tab-pane fade show" id="EnsMedDocentesPanel" role="tabpanel" aria-labelledby="tabEnsMedDocentes">
            <!-- Graph: AFD -->
            <div class="box" role="alert">
              <h6 class="alert-heading text-center"><i class="fa fa-graduation-cap fa-fw"></i> {{'AFD' | translate}}</h6>
              <div class="section-info-line">
                <div class="section-info-icon-ed" ><b>{{'group' | translate}}:</b></div>
                <select (change)="onGroupChangeAFDEnsMedio($event.target.value)" class="custom-select">
                  <option *ngFor="let group of groupsAFDEnsMedio">{{group}}</option>
                </select>
              </div>
              <div #AFDEnsMedioGraph> </div>
              <!-- Button trigger modal -->
              <div class="text-center">
                <button type="button" class="btn btn-link" style="font-size: x-small"  data-toggle="modal" data-target="#AFDModalCenter">
                  <i class="fa fa-info-circle fa-fw"></i> Ver maior informação sobre este indicador
                </button>
              </div>
            </div>

            <!-- Graph: DCS  -->
            <div id="box-DCSEnsMedio" class="box" role="alert" >
              <h6 class="alert-heading text-center"><i class="fa fa-graduation-cap fa-fw"></i> {{'DCS' | translate}}</h6>
              <div #DCSEnsMedioGraph>
              </div>
            </div>

            <!-- Graph: ED -->
            <div class="box" role="alert">
              <h6 class="alert-heading text-center"><i class="fa fa-graduation-cap fa-fw"></i> {{'ED' | translate}}</h6>
              <div class="section-info-line">
                <div class="section-info-icon-ed" ><b>{{'nivel' | translate}}:</b></div>
                <select (change)="onNivelChangeEDEnsMedio($event.target.value)" class="custom-select">
                  <option *ngFor="let nivel of nivelesEDEnsMedio">{{nivel}}</option>
                </select>
              </div>
              <div #EDEnsMedioGraph> </div>
              <!-- Button trigger modal -->
              <div class="text-center">
                <button type="button" class="btn btn-link" style="font-size: x-small"  data-toggle="modal" data-target="#esforcoDocenteModalCenter">
                  <i class="fa fa-info-circle fa-fw"></i> Ver maior informação sobre este indicador
                </button>
              </div>
            </div>

          </div>
          <!-- end docentes -->

          <!-- tab Aulas e turmas -->
          <div class="tab-pane fade show" id="EnsMedAulasPanel" role="tabpanel" aria-labelledby="tabEnsMedAulas">
            <!-- Graph: Horas por Aula - por Anos-->
            <div id="box-horasAulaPorAnosEnsMedio" class="box" role="alert" >
              <h6 class="alert-heading text-center"><i class="fa fa-clock-o fa-fw"></i> {{'horasAula' | translate}} <br> ({{'todosAnosTurmas' | translate}})</h6>
              <div #horasAulaPorAnosEnsMedioGraph>
              </div>
            </div>

            <!-- Graph: Horas por Aula - terceiro Ano-->
            <div id="box-horasAulaAno3EnsMedio" class="box" role="alert" >
              <h6 class="alert-heading text-center"><i class="fa fa-clock-o fa-fw"></i> {{'horasAula' | translate}} <br> ({{'terceiroAno'|translate}})</h6>
              <div #horasAulaAno3EnsMedioGraph>
              </div>
            </div>

            <!-- Graph: Alunos por turma - por Anos -->
            <div id="box-alunosPorTurmaPorAnosEnsMedio" class="box" role="alert" >
              <h6 class="alert-heading text-center"><i class="fa fa-users fa-fw"></i> {{'alunosPorTurma' | translate}} <br> ({{'todosAnosTurmas' | translate}})</h6>
              <div #alunosPorTurmaPorAnosEnsMedioGraph>
              </div>
            </div>

            <!-- Graph: Alunos por turma - Terceiro Ano -->
            <div id="box-alunosPorTurmaAno3EnsMedio" class="box" role="alert" >
              <h6 class="alert-heading text-center"><i class="fa fa-users fa-fw"></i> {{'alunosPorTurma' | translate}} <br> ({{'terceiroAno'|translate}})</h6>
              <div #alunosPorTurmaAno3EnsMedioGraph>
              </div>
            </div>
          </div>
          <!--end Aulas e Turmas -->

          <!-- tab Nivel Socioeconomico -->
          <div class="tab-pane fade show" id="EnsMedNivelSocioecPanel" role="tabpanel" aria-labelledby="tabEnsMedNivelSocioec">
            <!-- SEÇÃO: INSEAB -->
            <div class="box" role="alert" *ngIf="dataForEnemINSEAB && dataForEnemINSEAB.length > 0">
              <h6 class="alert-heading text-center"><i class="fa fa-th-large fa-fw"></i> {{'INSEAB' | translate}}  <br/> ({{'descINSEAB'|translate}})</h6>
              <div class="section-info-line"  *ngFor="let periodo of dataForEnemINSEAB"   >
                <div class="section-info-icon-ed"><b>{{periodo.variableName}}:</b></div>
                <span class="section-info-icon section-info-no-icon" style="display:none"></span>
                <span class="section-info-text"><span>{{periodo.variableValue}}</span></span>
              </div>
              <div class="text-center">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-link" style="font-size: x-small"  data-toggle="modal" data-target="#inseabModalCenter">
                  <i class="fa fa-info-circle fa-fw"></i> Ver maior informação sobre este indicador
                </button>
              </div>
            </div>

            <!-- SEÇÃO: INSECL -->
            <div class="box" role="alert" *ngIf="dataForEnemINSECL && dataForEnemINSECL.length > 0">
              <h6 class="alert-heading text-center"><i class="fa fa-th-large fa-fw"></i> {{'INSECL' | translate}}  <br/> ({{'descINSECL'|translate}})</h6>
              <div class="section-info-line"  *ngFor="let periodo of dataForEnemINSECL"   >
                <div class="section-info-icon-ed"><b>{{periodo.variableName}}:</b></div>
                <span class="section-info-icon section-info-no-icon" style="display:none"></span>
                <span class="section-info-text"><span>{{periodo.variableValue}}</span></span>
              </div>
              <div class="text-center">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-link" style="font-size: x-small"  data-toggle="modal" data-target="#inseclModalCenter">
                  <i class="fa fa-info-circle fa-fw"></i> Ver maior informação sobre este indicador
                </button>
              </div>
            </div>
          </div>
          <!-- end Nivel Socioeconomico -->
        </div>
      </div>
    </div>
    <!-- end tab Ensino Médio -->
  </div>
</div>

<!-- Modals for informations -->
<!-- INSEAB -->
<div class="modal fade" id="inseabModalCenter" tabindex="-1" role="dialog" aria-labelledby="inseabModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inseabModalCenterTitle">{{'inseabTitle'|translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{'inseabInfoP1'|translate}}</p>
        <p>{{'inseabInfoP2'|translate}}</p>
      </div>
    </div>
  </div>
</div>
<!--END INSEAB -->

<!-- INSECL -->
<div class="modal fade" id="inseclModalCenter" tabindex="-1" role="dialog" aria-labelledby="inseclModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inseclModalCenterTitle">{{'inseclTitle'|translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{'inseclInfoP1'|translate}}</p>
        <p>{{'inseclInfoP2'|translate}}</p>
      </div>
    </div>
  </div>
</div>
<!-- END INSECL -->

<!-- Esforço Docente -->
<div class="modal fade" id="esforcoDocenteModalCenter" tabindex="-1" role="dialog" aria-labelledby="esforcoDocenteModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="esforcoDocenteModalCenterTitle">{{'esforcoDocenteTitle'|translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{'esforcoDocenteInfoP1'|translate}}</p>
        <p>{{'esforcoDocenteInfoP2'|translate}}</p>
        <p>{{'esforcoDocenteInfoP3'|translate}}</p>
        <ul>
          <li><b>{{'esforcoDocenteNivel1Name'|translate}}: </b>{{'esforcoDocenteNivel1Info'|translate}}</li>
          <li><b>{{'esforcoDocenteNivel2Name'|translate}}: </b>{{'esforcoDocenteNivel2Info'|translate}}</li>
          <li><b>{{'esforcoDocenteNivel3Name'|translate}}: </b>{{'esforcoDocenteNivel3Info'|translate}}</li>
          <li><b>{{'esforcoDocenteNivel4Name'|translate}}: </b>{{'esforcoDocenteNivel4Info'|translate}}</li>
          <li><b>{{'esforcoDocenteNivel5Name'|translate}}: </b>{{'esforcoDocenteNivel5Info'|translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- END Esforço Docente -->

<!--Adequação da formação docente -->
<div class="modal fade" id="AFDModalCenter" tabindex="-1" role="dialog" aria-labelledby="AFDModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AFDModalCenterTitle">{{'AFDTitle'|translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{'AFDInfoP1'|translate}}</p>
        <ul>
          <li><b>{{'AFDGrupo1Name'|translate}}: </b>{{'AFDGrupo1Info'|translate}}</li>
          <li><b>{{'AFDGrupo2Name'|translate}}: </b>{{'AFDGrupo2Info'|translate}}</li>
          <li><b>{{'AFDGrupo3Name'|translate}}: </b>{{'AFDGrupo3Info'|translate}}</li>
          <li><b>{{'AFDGrupo4Name'|translate}}: </b>{{'AFDGrupo4Info'|translate}}</li>
          <li><b>{{'AFDGrupo5Name'|translate}}: </b>{{'AFDGrupo5Info'|translate}}</li>
        </ul>
        <p>{{'AFDInfoP2'|translate}}</p>
        <p>{{'AFDInfoP3'|translate}}</p>
      </div>
    </div>
  </div>
</div>
<!--END Adequação da formação docente -->
