<div>
  <!-- Tab contect for 'Ensino infantil' -->
  <div class="nav nav-tab-pills tab-labels" id="pills-tab" role="tablist">
    <!-- End display/hide school details button -->
    <a class="nav-tab-link active" id="pills-infantil-tab" data-toggle="pill" href="#pills-infantil" role="tab" aria-controls="pills-infantil" aria-selected="true">
      <div >
        <div class="section-action-button-icon fa fa-child fa-2x fa-fw"></div>
        <div class="nav-tab-link-text">{{'ensinoInfantil' | translate}}</div>
      </div>
    </a>
    <a class="nav-tab-link" id="pills-fundamental-tab" data-toggle="pill" href="#pills-fundamental" role="tab" aria-controls="pills-fundamental" aria-selected="false">
      <div>
        <div class="section-action-button-icon fa fa-book fa-2x fa-fw" ></div>
        <div class="nav-tab-link-text">{{'ensinoFundamental' | translate}}</div>
      </div>
    </a>
    <a class="nav-tab-link" id="pills-medio-tab" data-toggle="pill" href="#pills-medio" role="tab" aria-controls="pills-medio" aria-selected="false">
      <div>
        <div class="section-action-button-icon fa fa-graduation-cap fa-2x fa-fw"></div>
        <div class="nav-tab-link-text">{{'ensinoMedio' | translate}}</div>
      </div>
    </a>
  </div>


  <div class="tab-content" id="pills-tabContent">
    <!-- Tab content for 'Ensino Infantil' -->
    <div class="tab-pane fade show active" id="pills-infantil" role="tabpanel" aria-labelledby="pills-infantil-tab">
      <div class="box" role="alert">
        <h6 class="alert-heading "><i class="fa fa-graduation-cap fa-fw"></i>{{'adequacaoFormacaoDocenteGraph' | translate}}</h6>
        <div class="section-info-line">
          <div class="section-info-icon-ed" ><b>{{'group' | translate}}:</b></div>
          <select (change)="onGroupChange($event.target.value)" class="custom-select">
            <option *ngFor="let prop of propAFDInfantil">{{prop}}</option>
          </select>
        </div>
        <div #adequacaoFormacaoDocenteGraph>

          gtgt
        </div>
      </div>

      <div class="box" role="alert">
        <h6 class="alert-heading box-title"><i class="fa fa-graduation-cap fa-fw"></i>{{'docentesCursoSuperiorGraph' | translate}}</h6>
        <div #docentesCursoSuperiorGraph>
          frfr
        </div>
      </div>

    </div>

    <!-- Tab content for 'Ensino Fundamental' -->
    <div class="tab-pane fade" id="pills-fundamental" role="tabpanel" aria-labelledby="pills-fundamental-tab">
      <div class="card card-default">
        <div class="card-header">
          <i class="fa fa-line-chart fa-fw"></i> Fundamental
        </div>

      </div>
      <!-- /.card -->
    </div>

    <!-- Tab content for 'Ensino Médio' -->
    <div class="tab-pane fade" id="pills-medio" role="tabpanel" aria-labelledby="pills-medio-tab">
      Medio
    </div>
  </div>

</div>
