<nav class="sidebar-school-details" >
  <div role="region" class="widget-pane-content-holder">
    <div tabindex="-1" class="section-listbox section-listbox-root">
      <div class="section-hero-header">
        <label class="section-hero-header-hero widget-pane-fading widget-pane-fade-in">
          <img src="assets/images/localize-sua-escola.png" style="position: relative; top: 0px;left: 0px;width: 360px;height: 200px;">
        </label>

        <div class="widget-pane-clear" style="display:none"></div>
        <!-- button to display/hide the school details -->
        <button class="section-hero-header-display-hide" (click)="toggleSchoolDetails()">
          <div class="section-hero-header-display-hide-base" style="padding: 12px">
            <!--<i class="material-icons section-hero-header-display-hide-icon">arrow_back</i>-->
            <mat-icon fontSet="fontawesome" fontIcon="fa-angle-left" class="section-hero-header-display-hide-icon md-30"></mat-icon>
          </div>
        </button>
        <div class="section-hero-header-description">
          <div>
            <h1 class="section-hero-header-title" id="no-entidad">{{NO_ENTIDAD}}</h1>
          </div>
          <div class="section-hero-header-subtitle"></div>
        </div>
      </div>
      <div class="section-action">
        <div class="section-entity-action">
          <section class="toggle-icon section-action-button  ripple-container">
            <mat-slide-toggle class=" section-action-button-icon" [checked]="true" (change)="displayWeightingArea($event)"></mat-slide-toggle>
            <div class="blue-button-text">{{'weighting-area' | translate}}</div>
          </section>
          <section class="toggle-icon section-action-button  ripple-container">
            <mat-slide-toggle class=" section-action-button-icon" [checked]="true" (change)="displayNeighborhood($event)" ></mat-slide-toggle>
            <div class="blue-button-text">{{'neighborhood' | translate}}</div>
          </section>
          <!--<section class="toggle-icon section-action-button  ripple-container">
            <mat-icon fontSet="fontawesome" fontIcon="fa-share-alt" class="section-action-button-icon fa-3x"></mat-icon>
            <div class="blue-button-text">{{'share' | translate}}</div>
          </section>-->
          <button (click)="displaySharePopup()" class="section-action-button blue-button-text ripple-container">
            <mat-icon fontSet="fontawesome" fontIcon="fa-share-alt" class="section-action-button-icon fa-3x"></mat-icon>
            <div>{{'share' | translate}}</div>
          </button>
          <!--<button class="section-action-button blue-button-text ripple-container">
            <div class="section-action-button-icon fa fa-share-alt fa-3x"></div>
            <div>{{'share' | translate}}</div>
          </button>-->
          <!--<div class="section-action-popup-container">
            <section class="example-section section-action-button ripple-container">
              <mat-slide-toggle class="example-margin section-action-button blue-button-text ripple-container" [checked]="true" >
                <div>{{'weighting-area' | translate}}</div>
              </mat-slide-toggle>
            </section>
            <button (click)="displayWeightingArea()" aria-haspopup="aria-haspopup" data-toggle="toggle"
                    class="section-action-button blue-button-text ripple-container" title="{{'weighting-area-button-title' | translate}}">
              <div>
                <div style="display: block">
                  <div class="section-action-button-icon fa fa-globe fa-3x fa-fw fa-toggle-on"></div>
                  <div>{{'weighting-area' | translate}}</div>
                </div>
                <div style="display: none">
                  <div class="section-action-button-icon fa fa-globe fa-3x fa-fw fa-toggle-off"></div>
                  <div>{{'weighting-area' | translate}}</div>
                </div>
              </div>
            </button>
          </div>
          <button (click)="displayNeighborhood()" class="section-action-button blue-button-text ripple-container" >
            <div class="section-action-button-icon fa fa-circle-thin fa-3x fa-fw fa-toggle-on"></div>
            <div>{{'neighborhood' | translate}}</div>
          </button>
          <button class="section-action-button blue-button-text ripple-container">
            <div class="section-action-button-icon fa fa-share-alt fa-3x fa-fw"></div>
            <div>{{'share' | translate}}</div>
          </button>-->
        </div>
      </div>
      <div class="section-divider" style="height: 20px"></div>
      <div class="section-info">
        <div>
          <div class="section-info-line">
            <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
            <div class="section-info-icon" ><b>{{'city' | translate}}:</b></div>
            <span class="section-info-icon section-info-no-icon" style="display:none"></span>
            <span class="section-info-text">
              <span>{{NOMEMUN}} - {{SIGLA}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="section-info">
          <div class="section-info-line">
            <span role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
            <div class="section-info-icon" ><b>{{'address' | translate}}:</b></div>
            <span class="section-info-text">{{ENDERECO}}, {{NUMERO}}</span>
          </div>
      </div>
      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>{{'district' | translate}}:</b></div>
          <span class="section-info-text">{{BAIRRO}}</span>
        </div>
      </div>
      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>{{'cep' | translate}}:</b></div>
          <span class="section-info-text">{{CEP}}</span>
        </div>
      </div>
      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>{{'administrative-dependency' | translate}}:</b></div>
          <span class="section-info-text">{{Dependad}}</span>
        </div>
      </div>
      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>{{'status' | translate}}:</b></div>
          <span class="section-info-text">{{DESC_SITUACAO_FUNCIONAMENTO}}</span>
        </div>
      </div>
      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>{{'phone' | translate}}:</b></div>
          <span class="section-info-text">{{DDD}} {{TELEFONE}}</span>
        </div>
      </div>

      <div class="section-divider" style="height: 10px"></div>
      <div class="section-info-line">
        <h5 style="text-transform: capitalize">{{'facilities' | translate}}</h5>
      </div>
      <div class="section-divider" style="height: 10px"></div>

      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>{{'library' | translate}}:</b></div>
          <span class="section-info-text">{{ID_BIBLIOTECA}}</span>
        </div>
      </div>
      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>{{'computer-lab' | translate}}:</b></div>
          <span class="section-info-text">{{ID_LABORATORIO_INFORMATICA}}</span>
        </div>
      </div>
      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>{{'covered-court' | translate}}:</b></div>
          <span class="section-info-text">{{ID_QUADRA_ESPORTES_COBERTA}}</span>
        </div>
      </div>
      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>{{'uncovered-court' | translate}}:</b></div>
          <span class="section-info-text">{{ID_QUADRA_ESPORTES_DESCOBERTA}}</span>
        </div>
      </div>

      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>{{'latitude' | translate}}:</b></div>
          <span class="section-info-text">{{LOCATION.LAT}}</span>
        </div>
      </div>
      <div class="section-info">
        <div class="section-info-line">
          <span aria-hidden="true" role="img" class="section-info-icon fa fa-fw fa-angle-right"></span>
          <div class="section-info-icon" ><b>{{'longitude' | translate}}:</b></div>
          <span class="section-info-text">{{LOCATION.LON}}</span>
        </div>
      </div>
    </div>
  </div>
</nav>
