<nav class="sidebar-school-details" style="padding: 10px;">

  <h3> PANEL DE INFORMAÇOES!!!!!!!! </h3><br>
  <h4 id="no-entidad">{{NO_ENTIDAD}}</h4>
  <button (click)="displayNeighborhood()" >Ver vizinhança</button>
  <button (click)="displayWeightingArea()" >Ver Area de ponderaçao</button>
  <br/><b>Nome do Municipio:</b>{{NOMEMUN}} - {{SIGLA}}
  <br/><b>Endereço: </b>{{ENDERECO}}, {{NUMERO}}
  <br/><b>Bairro: </b>{{BAIRRO}}
  <br/><b>CEP: </b>{{CEP}}
  <br/><b>Dependencia administrativa: </b>{{Dependad}}
  <br/><b>Situação da escola (em relação ao Censo Escolar 2014): </b>{{DESC_SITUACAO_FUNCIONAMENTO}}
  <br/><b>Telefone: </b>{{DDD}} {{TELEFONE}}
  <br/>
  <h5>INSTALAÇOES</h5>
  <b>Biblioteca: </b> {{ID_BIBLIOTECA}}
  <br/><b>Laboratorio de Informatica: </b>{{ID_LABORATORIO_INFORMATICA}}
  <br/><b>Quadra Coberta: </b>{{ID_QUADRA_ESPORTES_COBERTA}}
  <br/><b>Quadra Descoberta: </b> {{ID_QUADRA_ESPORTES_DESCOBERTA}}
  <h5>LOCATION</h5>
  <b>Latitude: </b> {{LOCATION.LAT}}
  <b>Longitude: </b> {{LOCATION.LON}}

  <div> Mostrar grafico estatistico </div><br>
  <div> Mostrar o resto das informaçoes</div>
</nav>
