/* You can add global styles to this file, and also import other style files */
/*CSS Sngular Material*/
/*
"../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css",
"../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css",
"../node_modules/@angular/material/prebuilt-themes/indigo-pink.css",
"../node_modules/@angular/material/prebuilt-themes/purple-green.css
*/
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html{
  margin:0;
  height:100%;
  width: 100%;
}
body{
  /*display:flex;
  flex-direction:column;*/
  height:100%;
  width: 100%;
  padding:0;
  margin:0;
}

.position-right-bottom {
  right: 10px;
  bottom: 66px; /*mb 41*/
}

.position-right-bottom-b2 {
  right: 10px;
  bottom: 120px; /*25*/
}

.position-bottom {
  bottom: 25px;
}

.header .navbar {
  background: #323c3c !important; /*#222*/
}

/* CSS for schoolsDetails screen */
.push-right-school-details .main-container {
  margin-left: 360px !important; /*408*/
}

.push-right-school-details .sidebar-school-details {
  left: 360px !important; /*408*/
}

@media screen and (max-width: 992px) {
  .push-right-school-details .sidebar-school-details {
    left: 360px !important; /*408*/
  }
}

/* CSS for Weighting Area's information screen */
.push-left-indicators-by-weighting-areas .main-container {
  margin-right: 360px !important; /*408*/
}

.push-left-indicators-by-weighting-areas .sidebar-indicators-by-weighting-areas {
  right: 360px !important; /*408*/
}

@media screen and (max-width: 992px) {
  .push-left-indicators-by-weighting-areas .sidebar-indicators-by-weighting-areas {
    right: 360px !important; /*408*/
  }
}


/* responsive CSS for sidebar panel*/
.push-right .sidebar {
  left: 320px!important;
}

@media screen and (max-width: 992px) {
  .push-right .sidebar {
    left: 320px !important;
  }
}

/* responsive CSS for sidebar panel*/
.push-left .sidebar {
  left: 320px!important;
}

@media screen and (max-width: 992px) {
  .push-left .sidebar {
    left: 320px !important;
  }
}


/* rtl CSS*/
.rtl .sidebar {
  left: auto !important;
  right: 0 !important;
}
.rtl .sidebar > ul.list-group {
  padding: 0;
}
.rtl .main-container {
  margin-left: 0 !important;
  margin-right: 235px;
}
.rtl * {
  direction: rtl;
}
@media screen and (max-width: 992px) {
  .rtl .navbar-brand {
    direction: ltr;
  }
  .rtl .sidebar {
    right: -235px !important;
  }
  .rtl .main-container {
    margin-right: 0;
  }
  .rtl.push-right .sidebar {
    left: auto !important;
    right: 0 !important;
  }
}

/* spinner CSS*/
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari */
  transform: translate(-50%, -50%);
  /* Standard syntax */
  width: 60px;
  height: 60px;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* Utils CSS*/
.fs-12 {
  font-size: 12px;
}

/* icon menu */
@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-toggler {
    display: block;
  }
}

/* Margin left*/
.ml-6 {
  margin-left: 4rem !important;
}

/*@media screen and (max-width: 992px){
  .navbar-brand {
    display: none;
  }
}*/

.ml-7 {
  margin-left: 14rem !important;
}

/* logotipos */
.sprite {
  background: url(assets/images/sprite.png) no-repeat;
}

/* logo-cem*/
.logo-cem {
  display: block;
  width: 108px;
  height: 40px;
  background-position: -188px -42px;
}

.school-div-icon {
  background: url(assets/images/marcador_school_default.png) no-repeat;
}

.cursor-hand {
  cursor: pointer!important;
}

/* icons */
.fa.md-30 { font-size: 30px; }

/* separator */
.separator {
  height: 10px;
}

/* colors*/
.bg-darkgreen {
  background-color: #323c3c;
}

.bg-yellow {
  background-color: #efc100;
}

.bg-offwhite {
  background-color: #f7f7f7;
}

/* Modal */
.modal-backdrop {
  z-index: -1;  /*to solve the problem: Bootstrap modal appearing under background*/
}

.modal-dialog {
  margin: 58px 10px 0px;
}

@media (min-width: 576px) {
  .modal-dialog {
    margin: 58px auto;
  }
}
.modal {
  padding-left: 0px;
}

.btn-map {
  border: 1px solid rgba(0,0,0,.2);
  background-clip: padding-box;
  background-color: #fff;
  position: absolute;
  z-index: 401;
}

/*separador*/
.title-underline {
  height: 0;
  margin: .5rem .3rem .5rem 1.2rem;
  overflow: hidden;
  border-top: 2px solid #323c3c;
}

.btn-outline-blue {
  color: #4178ba;
  background-color: transparent;
  background-image: none;
  border-color: #4178ba;
}

.btn-outline-blue:hover {
  color: #fff;
  background-color: #4178ba;
  border-color: #4178ba;
}

/*css left and right panel */
.widget-pane-content-holder {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  overflow: visible;
  position: absolute;
  height: 100%;
  width: 100%; /*360*/
}

.section-listbox-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-listbox {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
/*---------------*/

.section-hero-header {
  background-color: #323c3c; /*#4178ba; #222 #292b2c;*/
  color: #fff;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  font-size: 13px;
  margin: 0 .1rem .5rem;
  border-radius: .25rem;
  border: 2px solid rgba(255,255,255,.2);
}

.section-action {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.section-action>div {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.widget-pane-fading.widget-pane-fade-in {
  opacity: 1;
  -webkit-filter: saturate(100%);
  filter: saturate(100%);
}

.section-hero-header-display-hide {
  float: right;
  position: relative;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  margin: -38px 8px 10px;
  min-width: 89px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.section-hero-header-display-hide-base {
  width: 56px;
  height: 56px;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 150ms cubic-bezier(.4,0,1,1);
  color: #4285F4;
}

.section-hero-header-display-hide-icon {
  background-size: 20px;
  width: 20px;
  height: 20px;
}

.section-hero-header-hero {
  overflow: hidden;
  direction: ltr;
  display: block;
  width: 360px; /*408*/
  height: 200px; /*200*/
}

.widget-pane-fading {
  transition-property: opacity,-webkit-filter,filter;
  transition-duration: 0.15s,0.3s,0.3s;
  transition-timing-function: cubic-bezier(0.4,0,1,1);
  opacity: 0;
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
}

.widget-pane-clear {
  background-image: url(//maps.gstatic.com/tactile/omnibox/clear-1x-20150504.png);
  background-position: 48px 0;
  background-size: 96px 24px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  top: 14px;
  right: 17px;
  margin: 6px;
  position: absolute;
}
.section-hero-header-description {
  padding: 16px 24px 20px;
}

.section-hero-header-title {
  font-size: 14px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}

.section-hero-header-subtitle {
  font-size: 13px;
  margin-top: 4px;
  display: block;
}

/*box*/
.box {
  position: relative;
  padding: .75rem .6rem;
  margin: .0rem .2rem .4rem;
  /*border: 1px solid transparent; maf1*/
  border: 1px solid #ffc107;
  border-radius: .25rem;
}

.box-title {
  color: #0c5460;
}

.box-info {
  color: #0c5460;
  background-color: #ECF1F9;
  border: 2px solid #516161;
  /*border-color: rgba(65,120,186,0.2);*/ /*#bee5eb;*/
}

.box-warning {
  color: #721c24;
  background-color: #f8d7da;
  border: 2px solid #721c24;
}

.dropdown-item-maf {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  /* color: #212529; */
  text-align: inherit;
  white-space: nowrap;
  /* background-color: transparent; */
  border: 0;
}

button {
  margin: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  list-style: none;

  align-items: flex-start;
  text-align: center;
  box-sizing: border-box;

  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
}

.section-divider {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.section-info {
  font-size: 12px;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  position: relative;
}

.section-info-line {
  padding: 4px 20px; /*4px 24px*/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.section-info-icon {
  margin-right: 10px; /*24px*/
  -webkit-flex: 0 0 20px; /*0 0 24px*/
  -ms-flex: 0 0 20px; /*0 0 24px*/
  flex: 0 0 20px; /*0 0 24px*/
}

.section-info-icon-ed {
  margin-right: 10px; /*24px*/
  -webkit-flex: 0 0 130px; /*0 0 24px*/
  -ms-flex: 0 0 130px; /*0 0 24px*/
  flex: 0 0 130px; /*0 0 24px*/
}

.section-info-text, .section-info-text .widget-pane-link {
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
}

.section-info-secondary-text-newline {
  padding: 0 24px 6px 50px;
  position: relative;
}

.section-info-secondary-text, .section-info-secondary-text .widget-pane-link {
  color: rgba(0, 0, 0, 0.87);
  z-index: 1;
  position: relative;
  text-align: inherit;
}

/*tabs*/
.nav-tabs>li>a, .nav-tabs>li>a>div {
  height:100%;
  display:table;
}
.nav-tabs>li>a span {
  display:table-cell;
  vertical-align:middle;
}

.nav-link {
  display: block;
  padding: .5rem .6rem;
}

/*icons*/
.school-marker {
  background-image: url("assets/images/marcador_school_default.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.selected-school-marker {
  background: url("assets/images/marcador_school_selected.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.school-geolocated-icon {
  background-image: url("assets/images/target-black-24.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.school-notGeolocated-icon {
  background-image: url("assets/images/target-red-24.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.weightingArea-icon {
  background-image: url("assets/images/ap.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.searching-icon {
  background-image: url("assets/images/searching.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/*callaout bootstrap*/
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem
}

.bd-callout h4, .bd-callout h5 {
  margin-top: 0;
  margin-bottom: .25rem
}

.bd-callout p:last-child {
  margin-bottom: 0
}

.bd-callout code {
  border-radius: .25rem
}

.bd-callout+.bd-callout {
  margin-top: -.25rem
}

.bd-callout-info {
  border-left-color: #5bc0de
}

.bd-callout-info h4, .bd-callout-info h5 {
  color: #5bc0de
}

.bd-callout-warning {
  border-left-color: #f0ad4e
}

.bd-callout-warning h4, .bd-callout-warning h5 {
  color: #f0ad4e
}

.bd-callout-danger {
  border-left-color: #d9534f
}

.bd-callout-danger h4, .bd-callout-danger h5 {
  color: #d9534f
}

/*btn link*/
.btn-link-bluelight {
  font-weight: 400;
  color: #5bc0de;
  background-color: transparent;
}

.btn-link-bluelight:hover {
  font-weight: 400;
  color: #279bbe;
  background-color: transparent;
}

.btn-link-bluelight.focus, .btn-link-bluelight:focus {
  outline: 0;
  box-shadow: none;
}
