/* You can add global styles to this file, and also import other style files */
/*CSS Sngular Material*/
/*
"../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css",
"../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css",
"../node_modules/@angular/material/prebuilt-themes/indigo-pink.css",
"../node_modules/@angular/material/prebuilt-themes/purple-green.css
*/
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html{
  margin:0;
  height:100%;
  width: 100%;
}
body{
  /*display:flex;
  flex-direction:column;*/
  height:100%;
  width: 100%;
  padding:0;
  margin:0;
}

/* CSS for schoolsDetails screen */
.push-right-school-details .main-container {
  margin-left: 360px !important; /*408*/
}

.push-right-school-details .sidebar-school-details {
  left: 360px !important; /*408*/
}

@media screen and (max-width: 992px) {
  .push-right-school-details .sidebar-school-details {
    left: 360px !important; /*408*/
  }
}

/* CSS for Weighting Area's information screen */
.push-left-indicators-by-weighting-areas .main-container {
  margin-right: 360px !important; /*408*/
}

.push-left-indicators-by-weighting-areas .sidebar-indicators-by-weighting-areas {
  right: 360px !important; /*408*/
}

@media screen and (max-width: 992px) {
  .push-left-indicators-by-weighting-areas .sidebar-indicators-by-weighting-areas {
    right: 360px !important; /*408*/
  }
}


/* responsive CSS for sidebar panel*/
.push-right .sidebar {
  left: 320px!important;
}

@media screen and (max-width: 992px) {
  .push-right .sidebar {
    left: 320px !important;
  }
}

/* rtl CSS*/
.rtl .sidebar {
  left: auto !important;
  right: 0 !important;
}
.rtl .sidebar > ul.list-group {
  padding: 0;
}
.rtl .main-container {
  margin-left: 0 !important;
  margin-right: 235px;
}
.rtl * {
  direction: rtl;
}
@media screen and (max-width: 992px) {
  .rtl .navbar-brand {
    direction: ltr;
  }
  .rtl .sidebar {
    right: -235px !important;
  }
  .rtl .main-container {
    margin-right: 0;
  }
  .rtl.push-right .sidebar {
    left: auto !important;
    right: 0 !important;
  }
}

/* spinner CSS*/
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari */
  transform: translate(-50%, -50%);
  /* Standard syntax */
  width: 60px;
  height: 60px;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* Utils CSS*/
.fs-12 {
  font-size: 12px;
}

/* icon menu */
@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-toggler {
    display: block;
  }
}

/* Margin left*/
.ml-6 {
  margin-left: 4rem !important;
}

/*@media screen and (max-width: 992px){
  .navbar-brand {
    display: none;
  }
}*/

.ml-7 {
  margin-left: 14rem !important;
}

/* logotipos */
.sprite {
  background: url(assets/images/sprite.png) no-repeat;
}

/* logo-cem*/
.logo-cem {
  display: block;
  width: 108px;
  height: 40px;
  background-position: -188px -42px;
}

.school-div-icon {
  background: url(assets/images/marcador_school_default.png) no-repeat;
}

.cursor-hand {
  cursor: pointer!important;
}

/* toggle*/
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(66, 133, 244,.5);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #4285f4;
}

/* icons */
.fa.md-30 { font-size: 30px; }

/* separator */
.separator {
  height: 10px;
}

/* Modal */
.modal-backdrop {
  z-index: -1;  /*to solve the problem: Bootstrap modal appearing under background*/
}

.modal-dialog {
  margin: 58px 10px 0px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 58px auto;
  }
}
.modal {
  padding-left: 0px;
}

.btn-map {
  border: 1px solid rgba(0,0,0,.2);
  background-clip: padding-box;
  background-color: #fff;
  position: absolute;
  z-index: 401;
}

/*box*/
.box {
  position: relative;
  padding: .75rem 1.25rem;
  margin: .2rem .2rem 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.box-info {
  color: #0c5460;
  background-color: #ECF1F9;
  /*border-color: rgba(65,120,186,0.2);*/ /*#bee5eb;*/
}

/*separador*/
.title-underline {
  height: 0;
  margin: .5rem .3rem .5rem 1.2rem;
  overflow: hidden;
  border-top: 2px solid #323c3c;
}
